.custom-alarm-form {
  .title {
    margin-bottom: 10px;
    margin-left: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid $color-border;
  }
}

.custom-alarm-previewer {
  width: 400px;
}
