.repo-commit-list {
  margin-bottom: 20px;
  background-color: $white;
  border: 1px solid $color-border;

  .title {
    padding: 6px 16px;
    color: #2e2e2e;
    line-height: 36px;
    background-color: #fafafa;
    border-color: #e5e5e5;
    border-bottom: 1px solid $color-border;
  }

  .commit-item {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    border-bottom: 1px solid $color-border;
    border-radius: 3px;

    .commit-left {
      line-height: 24px;
    }

    .commit-content {
      margin-left: 10px;

      .as-link {
        color: $color-text;
      }
    }
  }
}
