.repo-tags {
  .tag-item {
    padding: 10px;
    line-height: 20px;
    background-color: $white;
    border-bottom: 1px solid $color-border;

    &:last-child {
      border-bottom: none;
    }
  }
}
