{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage", // enable polyfill on demand
        "corejs": 3
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "jsx-control-statements",
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false // default: true
      },
      "lodash"
    ],
    [
      "import",
      {
        "libraryName": "@icon-park/react",
        "libraryDirectory": "es/icons",
        "camel2DashComponentName": false
      },
      "iconpark"
    ],
    "@babel/transform-runtime" // inject runtime helpers on demand
  ]
}
