.erda-radio-tabs {
  .ant-radio-button-wrapper {
    padding: 0 20px;
    line-height: 30px;
    border: unset !important;
    color: $color-default;
    background-color: $color-default-06;
    box-shadow: unset !important;
    &.ant-radio-button-wrapper-checked {
      color: $white;
    }
    &:first-child {
      border-radius: 2px 0 0 2px;
    }
    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }
}
