.erda-shell {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .erda-nav {
    z-index: 1000;
  }

  .erda-main-content {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 600px;
    margin-top: 36px;
  }
}
