.cp-kv {
  &.dark {
    .items {
      background: rgba($white, 0.02);

      .items-value {
        color: $white;
      }

      .items-title,
      .items-unit {
        color: rgba($white, 0.6);
      }
    }
  }

  &.light {
    .items {
      background: theme('colors[default]' / 0.02);

      .items-value {
        color: theme('colors[default]');
      }

      .items-title,
      .items-unit {
        color: theme('colors[default]' / 0.6);
      }
    }
  }
}
