// Color palette
$red: #d84b65 !default;
$blue: #1890ff !default;
$darkblue: #070a1a !default;
$green: #27c99a !default;
$palegreen: #8db36c !default;
$darkcyan: #498e9e !default;
$orange: #f47201 !default;
$cyan: rgba(91, 214, 208, 1) !default;
$purple: #6a549e !default;
$yellow: #f4b518 !default;
$black: #000000 !default;
$navy: #333333 !default;
$gray: #666666 !default;
$darkgray: #999999 !default;
$lightgray: #bbbbbb !default;
$lightblue: #d1dcff !default;
$lightnavy: #ccd0d6 !default;
$gainsboro: #d9dce4 !default;
$platinum: #e8e8e8 !default;
$whitesmoke: #f5f5f5 !default;
$ghostwhite: #f9f9f9 !default;
$white: #ffffff !default;

$color-dark-8: rgba(0, 0, 0, 0.8) !default;
$color-dark-6: rgba(0, 0, 0, 0.6) !default;
$color-dark-5: rgba(0, 0, 0, 0.5) !default;
$color-dark-4: rgba(0, 0, 0, 0.4) !default;
$color-dark-3: rgba(0, 0, 0, 0.3) !default;
$color-dark-2: rgba(0, 0, 0, 0.2) !default;
$color-dark-1: rgba(0, 0, 0, 0.1) !default;
$color-dark-06: rgba(0, 0, 0, 0.06) !default;
$color-dark-04: rgba(0, 0, 0, 0.04) !default;
$color-dark-02: rgba(0, 0, 0, 0.02) !default;

$color-white-9: rgba(255, 255, 255, 0.9) !default;
$color-white-8: rgba(255, 255, 255, 0.8) !default;
$color-white-6: rgba(255, 255, 255, 0.6) !default;
$color-white-4: rgba(255, 255, 255, 0.4) !default;
$color-white-3: rgba(255, 255, 255, 0.3) !default;
$color-white-2: rgba(255, 255, 255, 0.2) !default;
$color-white-1: rgba(255, 255, 255, 0.1) !default;
$color-white-06: rgba(255, 255, 255, 0.06) !default;
$color-white-04: rgba(255, 255, 255, 0.04) !default;
$color-white-02: rgba(255, 255, 255, 0.02) !default;

// Color primary
$color-primary: #302647 !default;
$color-primary-light: #0c0b14 !default;

$color-default: #302647; // rgba(48,38,71,1);
$color-default-8: rgba($color-default, 0.8);
$color-default-6: rgba($color-default, 0.6);
$color-default-4: rgba($color-default, 0.4);
$color-default-1: rgba($color-default, 0.1);
$color-default-2: rgba($color-default, 0.2);
$color-default-3: rgba($color-default, 0.3);
$color-default-08: rgba($color-default, 0.08);
$color-default-06: rgba($color-default, 0.06);
$color-default-04: rgba($color-default, 0.04);
$color-default-02: rgba($color-default, 0.02);
$color-default-01: rgba($color-default, 0.01);

// function color
$color-info: $blue;
$color-info-bg: rgba($color-info, 0.1);
$color-error: $red;
$color-error-bg: rgba($color-error, 0.1);
$color-danger: $red;
$color-danger-bg: rgba($red, 0.1);
$color-warning: $yellow;
$color-warning-bg: rgba($color-warning, 0.1);
$color-success: $green;
$color-success-bg: rgba($color-success, 0.1);

// Auxiliary color
$color-purple-900: #302647;
$color-purple-600: #a051ff;
$color-purple-300: #d3adf7;
$color-purple-100: #f9f0ff;
$color-blue-900: #003a8c;
$color-blue-600: #1890ff;
$color-blue-300: #91d5ff;
$color-blue-100: #46f7ff;
$color-orange-900: #871400;
$color-orange-600: #fa541c;
$color-orange-300: #ffbb96;
$color-orange-100: #fff2e8;
$color-cyan-900: #00474f;
$color-cyan-600: #13c2c2;
$color-cyan-300: #87e8de;
$color-cyan-100: #e6fffb;
$color-green-900: #135200;
$color-green-600: #52c41a;
$color-green-300: #b7eb8f;
$color-green-100: #f6ffed;
$color-magenta-900: #780c52;
$color-magenta-600: #d33d90;
$color-magenta-300: #faadd2;
$color-magenta-100: #fff0f6;
$color-yellow-900: #613400;
$color-yellow-600: #faad14;
$color-yellow-300: #ffe58f;
$color-yellow-100: #fffbe6;
$color-red-900: #7a2f2f;
$color-red-600: #e75959;
$color-red-300: #ffbaba;
$color-red-100: #fff0f0;
$color-yellow-g-900: #666300;
$color-yellow-g-600: #c9c400;
$color-yellow-g-300: #ece97d;
$color-yellow-g-100: #faf9dc;

$color-default-bg: rgba($color-default, 0.1);
$color-active: $color-default;
$color-active-bg: rgba($color-default, 0.06);
$color-active-border: rgba($color-default, 0.6);
$color-disabled: $color-dark-3;
$color-disabled-bg: rgba($black, 0.06);
$color-click-bg: rgba($color-default, 0.2);
$color-light-bg: $whitesmoke;
$color-light-bg-04: #f6f6f7;

// Color text
$color-text: $color-default-8 !default;
$color-text-sub: $color-default-6 !default;
$color-text-desc: $color-default-4 !default;
$color-text-icon: $color-default-3 !default;
$color-text-holder: $color-default-2 !default;

// Color border
$color-border: $color-default-08 !default;

//Color Tree background-color
$color-tree-bg: #d7d1de !default;
$color-tree-bg-active: #f5f4fd !default;

//Color List background-color
$color-list-bg-active: #f6f5f9 !default;

// Color decorator
$color-hover: #f2f1fc;
$color-bg: #f3f2f4;
$color-shadow: #9998b1 !default;
$color-code-bg: rgba($black, 0.02);

// color for nusi TODO: remove this
$log-bg-color: #3c444f;
$log-font-color: #c2c1d0;

$terminal-bgcolor: #48515f;

// Color new Table
$color-table-color: #837d90;
$color-table-text-highlight: #7c53db;
$color-table-bg-hover: #f7f7f8;
$color-table-head-bg: #fbfbfb;
$color-bg-gray: #efeef0;

// color new list
$color-box-shadow: rgba($color-text-sub, 0.1);

// new assistant color
$color-purple-deep: #7c53db;
$color-purple-light: #f9f0ff;
$color-purple-highlight: #a051ff;

$color-dropdown-bg-dark: #59516c;
