$themes: (
  'default-theme': (
    // #302647
    color-primary-rgb: '48 38 71',
    color-primary-light: '12 11 20',
  ),
);

@each $key, $list in $themes {
  html[data-theme='#{$key}'] {
    @each $attr, $var in $list {
      --#{$attr}: #{$var};
    }
  }
}
