//==  visible
.fade {
  opacity: 0 !important;
  transition: opacity 0.15s linear;
  transition-delay: 0.15s;

  &.in {
    opacity: 1 !important;
  }
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.auto-overflow {
  overflow: auto;
}

.unselectable {
  user-select: none;
}

//== positions
.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.full-spin-height {
  height: 100%;

  .ant-spin-nested-loading,
  .ant-spin-container {
    height: 100%;
  }
}

// flex
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap-flex-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-start {
  justify-content: flex-start !important;
}

.v-flex-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.center-flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.column-flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.left-flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.right-flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.inline-flex-box {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.v-align {
  display: flex;
  align-items: center;
}

.inline-v-align {
  display: inline-flex;
  align-items: center;
}

.align-middle {
  vertical-align: middle;
}

// font size
.fz12 {
  font-size: 12px;
}

.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz20 {
  font-size: 20px;
}

.fz22 {
  font-size: 22px;
}

.fz24 {
  font-size: 24px;
}

.fz30 {
  font-size: 30px;
}

// font weight
.bold {
  font-weight: bold;
}

.bold-500 {
  font-weight: 500;
}

.bold-400 {
  font-weight: 400;
}

//== color
.color-primary {
  color: $color-primary !important;
}

.color-success,
.color-green {
  color: $color-success !important;
}

.color-info,
.color-blue {
  color: $color-info !important;
}

.color-warning,
.color-yellow {
  color: $color-warning !important;
}

.color-danger,
.color-red {
  color: $color-danger !important;
}

.color-gray {
  color: $color-disabled !important;
}

// dark-8
.color-text {
  color: $color-text !important;
}

// dark-6
.color-text-sub {
  color: $color-text-sub !important;
}

// dark-4
.color-text-desc {
  color: $color-text-desc !important;
}

.color-text-light-desc {
  color: $color-text-light-desc !important;
}

.color-text-icon {
  color: $color-text-icon !important;
}

.color-text-holder {
  color: $color-text-holder !important;
}

// space
@mixin space($list...) {
  @each $num in $list {
    .pl#{$num} {
      padding-left: #{$num}px !important;
    }

    .pr#{$num} {
      padding-right: #{$num}px !important;
    }

    .pt#{$num} {
      padding-top: #{$num}px !important;
    }

    .pb#{$num} {
      padding-bottom: #{$num}px !important;
    }

    .px#{$num} {
      padding-right: #{$num}px !important;
      padding-left: #{$num}px !important;
    }

    .py#{$num} {
      padding-top: #{$num}px !important;
      padding-bottom: #{$num}px !important;
    }

    .pa#{$num} {
      padding: #{$num}px !important;
    }

    .ml#{$num} {
      margin-left: #{$num}px !important;
    }

    .mr#{$num} {
      margin-right: #{$num}px !important;
    }

    .mt#{$num} {
      margin-top: #{$num}px !important;
    }

    .mb#{$num} {
      margin-bottom: #{$num}px !important;
    }

    .mx#{$num} {
      margin-right: #{$num}px !important;
      margin-left: #{$num}px !important;
    }

    .my#{$num} {
      margin-top: #{$num}px !important;
      margin-bottom: #{$num}px !important;
    }

    .ma#{$num} {
      margin: #{$num}px !important;
    }
  }
}

@include space(0, 2, 4, 8, 12, 16, 20, 24, 28, 32);

// border
.border-all {
  border: 1px solid $color-border !important;
}

.border-none {
  border: none !important;
}

.border-top {
  border-top: 1px solid $color-border !important;
}

.border-bottom {
  border-bottom: 1px solid $color-border !important;
}

.border-left {
  border-left: 1px solid $color-border !important;
}

.border-right {
  border-right: 1px solid $color-border !important;
}

.border-dashed {
  border: 1px dashed $color-border;
}

// hover
.hover-active {
  cursor: pointer;

  &:hover {
    color: $color-primary !important;
  }
}

.hover-active-bg {
  cursor: pointer;

  &:hover {
    background-color: $color-hover;
  }
}

.hover-table-text {
  cursor: pointer;

  &:hover {
    color: $color-primary;
    text-decoration: underline;
  }
}

.hover-text {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

// cursor
.pointer {
  cursor: pointer;
}

.not-allowed {
  color: $color-disabled !important;
  cursor: not-allowed !important;

  &:hover {
    color: $color-disabled !important;
    text-decoration: unset !important;
  }
}

.for-copy {
  cursor: copy;
}

//== others
.colorful-bg {
  .red {
    background-color: $red !important;
  }

  .orange {
    background-color: $orange !important;
  }

  .purple {
    background-color: $purple !important;
  }

  .blue {
    background-color: $blue !important;
  }

  .cyan {
    background-color: $cyan !important;
  }

  .green {
    background-color: $green !important;
  }

  .gray {
    background-color: $gray !important;
  }
}

.colorful-light-bg {
  .red {
    color: $red !important;
    background-color: rgba($red, 0.1) !important;
  }

  .orange {
    color: $orange !important;
    background-color: rgba($orange, 0.1) !important;
  }

  .purple {
    color: $purple !important;
    background-color: rgba($purple, 0.1) !important;
  }

  .blue {
    color: $blue !important;
    background-color: rgba($blue, 0.1) !important;
  }

  .cyan {
    color: $cyan !important;
    background-color: rgba($cyan, 0.1) !important;
  }

  .green {
    color: $green !important;
    background-color: rgba($green, 0.1) !important;
  }

  .gray {
    color: $gray !important;
    background-color: rgba($gray, 0.1) !important;
  }
}

.always-active {
  color: $color-primary !important;
  cursor: pointer;
}

.code-block {
  padding: 0.5em;
  color: $lightnavy;
  font-size: 12px;
  background-color: $navy;
  border-radius: 4px;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $p12;
  font-weight: 500;
  font-size: 18px;
  font-family: PingFangSC-Medium, serif;
  line-height: 48px;
}

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-button-group {
  position: fixed;

  top: 45px;
  right: 16px;

  @include md-width() {
    & {
      right: 12px;
    }
  }

  button {
    margin-left: $p8;
  }
}

.status-pointer {
  display: inline-block;
  width: 12px;
}

.tooltip-word-break {
  .pk-tooltip-inner {
    word-break: break-all;
  }
}

.btn-line-rtl {
  overflow: hidden;

  button,
  a {
    display: inline-block;
    float: right;
    margin-left: 20px;
  }
}

.tag-base {
  display: inline-block;
  height: 24px;
  margin: 0 4px;
  padding: 0 8px;
  color: $white;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  white-space: nowrap;
  border-radius: 3px;
}

.tag-small {
  height: 18px;
  padding: 0 4px;
  line-height: 18px;
}

.tag-default {
  @extend .tag-base;
  color: $color-text-sub;
  background-color: rgba(0, 0, 0, 0.06);
}

.tag-danger {
  @extend .tag-base;
  background-color: $color-danger;
}

.tag-info {
  @extend .tag-base;
  background-color: $color-info;
}

.tag-warning {
  @extend .tag-base;
  background-color: $color-warning;
}

.tag-success {
  @extend .tag-base;
  background-color: $color-success;
}

.tag-primary {
  @extend .tag-base;
  background-color: $color-primary;
}

.table-operations {
  .table-operations-btn {
    @extend .hover-table-text;
    position: relative;
    margin-right: $p16;
    color: $color-primary;

    &:after {
      position: absolute;
      top: 3px;
      right: -8px;
      width: 1px;
      height: 14px;
      background: $color-dark-1;
      content: '';
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }
}

.page-bottom-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: $sider-width + $subsider-width;
  z-index: 8;
  padding: 8px 32px;
  text-align: right;
  background-color: $white;
  border-top: 1px solid $color-border;

  &.fold {
    left: $sider-width + $subsider-fold-width;
  }

  @include md-width() {
    & {
      padding: 8px 16px;
    }
  }
}

.dice-tab {
  .ant-tabs-nav .ant-tabs-tab {
    padding: 0 0 12px;
  }
}

.dice-badge {
  margin-left: 4px;
  padding: 0 4px;
  color: $color-text-sub;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid $color-border;
  border-radius: 1px;
}

.fake-link {
  color: transparentize($color-primary, 0.2);
  cursor: pointer;

  &:hover {
    color: $color-primary;
  }
}

.text-link {
  color: transparentize($color-primary, 0.2);
  cursor: pointer;

  &:hover {
    color: $color-primary;
    text-decoration: underline;
  }
}

.filter-box {
  & > * {
    display: inline-block;
    margin-right: 20px;
  }
}

.tab-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .ant-menu,
  .tab-item-wraps {
    flex: 1;
    margin-bottom: 0;
    line-height: initial;
    background: transparent;
  }

  .ant-menu-item,
  .tab-menu-item {
    position: relative;
    top: 0;
    display: inline-block;
    box-sizing: content-box;
    height: 46px;
    margin: 0;
    margin-right: 40px;
    padding: 0;
    color: $color-dark-6;
    line-height: 46px;
    text-align: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    &:hover,
    &.active {
      color: $color-primary;
    }

    &.active,
    &.ant-menu-item-selected,
    &.ant-menu-item-active {
      color: $color-primary;
      border-bottom: 2px solid $color-primary;
    }

    &.tab-menu-disabled {
      color: $color-dark-3;
      cursor: not-allowed;
    }
  }
}

.bg-color-icon {
  color: $white;
  background-color: $color-text-icon;
  border-radius: 100%;

  &.red {
    background-color: $color-danger;
  }

  &.green {
    background-color: $color-success;
  }

  &.blue {
    background-color: $color-info;
  }

  &.yellow {
    background-color: $color-warning;
  }
}

.common-list-item {
  display: flex;
  justify-content: space-between;
  padding: 16px 12px;
  border-bottom: 1px solid $color-border;

  > div:first-child {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }

  > div:nth-child(2) {
    flex-shrink: 0;
  }

  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    @extend .nowrap;
  }

  .sub {
    display: flex;
    align-items: center;
    min-height: 22px;
    margin-top: 12px;
    color: $color-text-sub;
    font-size: 14px;
  }
}

.ml12-group {
  > * {
    &:not(:first-child) {
      margin-left: 12px;
    }
  }
}

.mr12-group {
  > * {
    &:not(:first-child) {
      margin-left: 12px;
    }
  }
}

.notify-error-detail {
  font-family: inherit;
  white-space: pre-line;
}

.active-tr {
  td {
    background-color: $color-active-bg;
  }
}

.position-relative {
  position: relative;
}

.dp-tree-category-title-container {
  /* stylelint-disable-next-line */
  .pk-tree-iconEle {
    width: 20px !important;

    .dp-tree-category-leaf {
      width: 100%;
      height: 100%;
    }
  }
}

.pk-title-title {
  word-break: break-all;
}

.prewrap {
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.gray-bg {
  background-color: $color-bg;
}

.white-bg {
  background-color: $white;
}

.day-split {
  margin-bottom: $p16;
  color: $color-text;
  font-size: 16px;
}

.break-word {
  word-break: break-word;
}

.break-all {
  word-break: break-all;
}

.default-selector-width {
  width: 200px;
}

.border-radius {
  border-radius: $radius;
}

.align-top {
  display: flex;
  align-items: flex-start;
}

.label-with-required::before {
  content: '*';
  display: inline-block;
  margin-right: 4px;
  color: $red;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
}

.no-prevent {
  .pk-select-arrow {
    pointer-events: all;
  }
}

.color-active-bg {
  color: $primary;
  background-color: $color-active-bg;
}
