.home-page {
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
  

  .home-page-sidebar {
    min-width: 320px;
    max-width: 320px;
    height: 100%;
    background-color: $color-bg;
  }

  .home-page-content {
    height: 100%;
    margin: 20px;
    overflow: auto;
  }
}
