.micro-service-manage {
  .micro-service-item {
    min-width: 260px;
    height: 141px;
    overflow: hidden;
    background: $white;
    border-radius: $radius;
    @extend %shallow-shadow;

    &:hover {
      @extend %hover-shadow;
    }
  }

  .title {
    color: $color-text;
    font-size: 16px;
    line-height: 24px;
  }

  .ms-item-info {
    padding: $p16 0;
    padding-right: $p16;
  }

  .ms-item-main {
    display: flex;
    border-bottom: 1px solid $color-border;

    .footer {
      margin-top: $p8;
      color: $color-dark-5;
      line-height: 22px;

      > span:first-child {
        margin-right: $p12;
      }
    }
  }

  .item-img {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    padding: 21px $p16;
    line-height: 64px;
    text-align: center;
    vertical-align: middle;

    svg {
      width: 46px;
      height: 46px;
    }
  }

  .ms-item-footer {
    padding: 12px 16px;

    .env-btn {
      color: $color-dark-5;
      font-size: 12px;
    }
  }

  .ms-filter {
    width: 268px;
    margin-bottom: $p12;
  }
}
