.msp-overview {
  &-header {
    height: 200px;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .project-item {
    .desc {
      color: rgba($color-default, 0.6);
    }
  }
}
