# Files for macos
*.DS_Store
._*

# Files for ideas
.idea/*
*.iml

# Files for vim
.*.sw?

# Files for direnv
.envrc

# Files for vscode
.vscode/*
.vendor/*

# Files for local
locales/*.tmp
*.ignore.js

# Dependency directories (remove the comment below to include it)
node_modules/

# build output
public/

# for local debug
report.*.json
npm-debug.log
yarn-error.log

*/.erda
*/.local-pack
*.env

shell/app/modules.js
shell/sourcemap
shell/coverage
