registry=https://registry.npmmirror.com/
@nodelib:registry=https://registry.npmmirror.com/
@mrmlnc:registry=https://registry.npmmirror.com/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
@terminus:registry=https://registry.npm.terminus.io
