.erda-gantt-grid-row {
  fill: rgba(0, 0, 0, 0.02);
}

.erda-gantt-grid-row:nth-child(even) {
  fill: rgba(0, 0, 0, 0.02);
}

.erda-gantt-grid-row-line {
  stroke: rgba(0, 0, 0, 0.02);
}

.erda-gantt-grid-tick {
  stroke: rgba(0, 0, 0, 0.02);
}
