.api-import {
  .filter-select {
    min-width: 120px;
  }

  .filter-input {
    width: 160px;
  }

  .api-filter {
    display: flex;
    flex-wrap: nowrap;
  }

  .prefix-input {
    width: 200px;
  }
}
