.page-config-spin {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;

  &.spinning {
    z-index: 10000;
    background-color: $color-white-4;

    > .ant-spin-spinning {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}
