.alarm-msg-list {
  position: relative;
  min-height: 100px;
  margin-bottom: unset;
  background-color: $white;
  border-radius: $radius;
  @extend %shallow-shadow;

  & > li {
    .border {
      display: block;
      margin: 0 16px;
      border-bottom: 1px solid $color-border;
    }

    &:last-child {
      .border {
        display: none;
      }
    }
  }

  .msg-item {
    padding: 16px 20px;

    .sub-info {
      width: 200px;
      text-align: right;
    }

    .title {
      flex: 1;
      line-height: 24px;
    }

    .time {
      color: $color-text-sub;
    }
  }
}
