.artifacts-detail {
  height: 100%;
  overflow: hidden;
}

.artifacts-content {
  flex: 1;
  padding: 12px;
  overflow: auto;
  background-color: $white;
  border-radius: 2px;

  &.bg-gray {
    padding: unset;
    background-color: $color-bg;

    > div {
      padding: 10px 32px 20px;
    }
  }

  .image-list {
    margin-bottom: 0;

    .image-item {
      padding: 5px 0;
      line-height: 20px;
    }

    li {
      overflow-x: auto;

      &:hover {
        background-color: $color-hover;
      }
    }
  }

  .file-container {
    margin-top: 30px;
  }
}
