@red: #d84b65;
@red-1: rgba(216, 75, 101, 0.1);
@danger: rgba(216, 75, 101, 1);
@error: rgba(216, 75, 101, 1);
@blue: rgba(24, 144, 255, 1);
@blue-1: rgba(24, 144, 255, 0.1);
@info: rgba(24, 144, 255, 1);
@yellow: rgba(244, 181, 24, 1);
@yellow-1: rgba(244, 181, 24, 0.1);
@warning: rgba(244, 181, 24, 1);
@green: rgba(39, 201, 154, 1);
@green-1: rgba(39, 201, 154, 0.1);
@success: rgba(39, 201, 154, 1);
@orange: #f47201;
@purple: #6a549e;
@cyan: #5bd6d0ff;
@gray: #666666;
@bright-gray: #eaeaea;
@light-gray: #bbbbbb;
@darkgray: #999999;
@grey: #f5f5f5;
@lotion: #fcfcfc;
@cultured: #f6f4f9;
@magnolia: #f2f1fc;
@mask: rgba(0, 0, 0, 0.45);

@black: rgba(0, 0, 0, 1);
@black-1: rgba(0, 0, 0, 0.1);
@black-2: rgba(0, 0, 0, 0.2);
@black-3: rgba(0, 0, 0, 0.3);
@black-4: rgba(0, 0, 0, 0.4);
@black-6: rgba(0, 0, 0, 0.6);
@black-8: rgba(0, 0, 0, 0.8);
@black-02: rgba(0, 0, 0, 0.02);
@black-06: rgba(0, 0, 0, 0.06);

@white: rgb(255, 255, 255);
@white-1: rgba(255, 255, 255, 0.1);
@white-2: rgba(255, 255, 255, 0.2);
@white-3: rgba(255, 255, 255, 0.3);
@white-4: rgba(255, 255, 255, 0.4);
@white-6: rgba(255, 255, 255, 0.6);
@white-8: rgba(255, 255, 255, 0.8);
@white-9: rgba(255, 255, 255, 0.9);
@white-02: rgba(255, 255, 255, 0.02);
@white-04: rgba(255, 255, 255, 0.04);
@white-06: rgba(255, 255, 255, 0.06);
@white-08: rgba(255, 255, 255, 0.08);

@default: #302647;
@default-1: rgba(48, 38, 71, 0.1);
@default-2: rgba(48, 38, 71, 0.2);
@default-3: rgba(48, 38, 71, 0.3);
@default-4: rgba(48, 38, 71, 0.4);
@default-6: rgba(48, 38, 71, 0.6);
@default-8: rgba(48, 38, 71, 0.8);
@default-01: rgba(48, 38, 71, 0.01);
@default-02: rgba(48, 38, 71, 0.02);
@default-04: rgba(48, 38, 71, 0.04);
@default-06: rgba(48, 38, 71, 0.06);
@default-08: rgba(48, 38, 71, 0.08);

@item-selected-bg: #f7f7f8;
@disabled-color: @black-3;

// Color new Table
@color-table-color: #837d90;
@color-table-text-highlight: #7c53db;
@color-table-bg-hover: #f7f7f8;
@color-table-head-bg: #fbfbfb;
