//==  visible
.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.unselectable {
  user-select: none;
}

//== positions
.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.full-spin-height {
  height: 100%;

  .ant-spin-container {
    height: 100%;
  }
}

// flex
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inline-flex-box {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.v-align {
  display: flex;
  align-items: center;
}

.inline-v-align {
  display: inline-flex;
  align-items: center;
}

.align-middle {
  vertical-align: middle;
}

.flex-1 {
  flex: 1;
}

.self-start {
  align-self: start;
}

.self-end {
  align-self: end;
}

//== text-positioin
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

// bg-color
.white-bg {
  background-color: $color-white-6 !important;
}

.all-white-bg {
  background-color: $white !important;
}

.gray-bg {
  background-color: $whitesmoke !important;
}

// color
.dark-4 {
  color: $color-dark-4 !important;
}

.dark-5 {
  color: $color-dark-5 !important;
}

.dark-6 {
  color: $color-dark-6 !important;
}

.dark-8 {
  color: $color-dark-8 !important;
}

// font size
.fz12 {
  font-size: 12px;
}

.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz20 {
  font-size: 20px;
}

.fz22 {
  font-size: 22px;
}

.fz24 {
  font-size: 24px;
}

// font weight
.bold {
  font-weight: bold;
}

.bold-500 {
  font-weight: 500;
}

// space
@mixin space($list...) {
  @each $num in $list {
    .pl#{$num} {
      padding-left: #{$num}px !important;
    }

    .pr#{$num} {
      padding-right: #{$num}px !important;
    }

    .pt#{$num} {
      padding-top: #{$num}px !important;
    }

    .pb#{$num} {
      padding-bottom: #{$num}px !important;
    }

    .px#{$num} {
      padding-right: #{$num}px !important;
      padding-left: #{$num}px !important;
    }

    .py#{$num} {
      padding-top: #{$num}px !important;
      padding-bottom: #{$num}px !important;
    }

    .pa#{$num} {
      padding: #{$num}px !important;
    }

    .ml#{$num} {
      margin-left: #{$num}px !important;
    }

    .mr#{$num} {
      margin-right: #{$num}px !important;
    }

    .mt#{$num} {
      margin-top: #{$num}px !important;
    }

    .mb#{$num} {
      margin-bottom: #{$num}px !important;
    }

    .mx#{$num} {
      margin-right: #{$num}px !important;
      margin-left: #{$num}px !important;
    }

    .my#{$num} {
      margin-top: #{$num}px !important;
      margin-bottom: #{$num}px !important;
    }

    .ma#{$num} {
      margin: #{$num}px !important;
    }
  }
}

@include space(0, 2, 4, 8, 12, 16, 20, 24, 28, 32);

// cursor
.pointer {
  cursor: pointer;
}

.not-allowed {
  color: $color-disabled !important;
  cursor: not-allowed !important;

  &:hover {
    color: $color-disabled !important;
  }
}

.for-copy {
  cursor: copy;
}

//== others
.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vh-70 {
  min-height: 70vh;
}

.vh-100 {
  min-height: 100vh;
}
