.cp-dice-table-group {
  position: relative;
  margin-top: 8px;

  .table-board {
    margin-top: 16px;

    .table-board-card {
      padding: 12px;
      background: white;
      border-radius: 3px;

      >.pk-title {
        margin-bottom: 8px;
      }
    }
  }

  .load-more {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 48px;
    color: $color-text-desc;
    font-size: 14px;
    cursor: pointer;
  }
}
