.license-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .license-img {
    width: 230px;
    height: 150px;
  }

  .row-one-card {
    width: 140px;
    height: 92px;
    border-radius: $radius;
  }

  .row-two-card {
    width: 218px;
    height: 92px;
    border-radius: $radius;
  }

  .row {
    > div:not(:last-child) {
      margin-right: 16px;
    }
  }
}
