#main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.notice-wrap {
  height: 53px;
  padding: $p8 0;
  overflow: hidden;
  background: #ffedec;
  border-radius: 3px;

  .ant-carousel {
    height: 100%;

    .slick-slider {
      height: 100%;
    }

    .slick-list {
      .slick-track {
        div {
          width: 100vw;
          padding: 0 $p8;
          overflow: hidden;
          line-height: 22px;
          white-space: nowrap;
          text-align: center;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .slick-dots {
    bottom: $p4;
  }

  &.only-one {
    height: 40px;
  }
}
