.common-simple-tabs {
  &-item {
    color: $color-default;
    padding: 4px 8px;
    border-radius: $border-radius;
    &:hover,
    &.selected {
      &:not(.not-allowed) {
        font-weight: 500;
        background-color: $color-default-06;
      }
    }
  }
  &.theme-dark {
    .common-simple-tabs-item {
      color: $white;
      &:hover,
      &.selected {
        &:not(.not-allowed) {
          font-weight: 500;
          background-color: $color-white-1;
        }
      }
    }
  }
}
