.platform-icon-container {
  .icon {
    left: 6px;
    top: 6px;
    transition: opacity 0.2s cubic-bezier(0.48, 0.43, 0.29, 1.3);
    color: #acb8c3;
  }
  .active-icon {
    opacity: 0;
  }
  &:hover {
    background-color: #2b3652;

    .normal-icon {
      opacity: 0;
    }
    .active-icon {
      opacity: 1;
      color: #acb8c3;
    }
  }
}
