.erda-global-nav-user-menu {
  .ant-popover-inner-content {
    padding: 0;
  }

  &.no-arrow {
    .ant-popover-arrow-content {
      background-color: unset;
    }
  }

  .user-avatar {
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
  }
}
