.log-query {
  .log-query-message-tab {
    padding-right: 70px;
  }
  
  .bi-board {
    box-shadow: none;

    .dc-view-wrapper {
      border: none;
    }
  }

  .log-preview {
    max-height: 260px;
    margin-bottom: 0;
    overflow: scroll;
    color: $navy;
    word-break: break-word;
    background: transparent;
    border: 1px solid $color-border;
  }
}