.log-query {
  .log-query-message-tab {
    padding-right: 70px;
  }

  .bi-board {
    box-shadow: none;

    .dc-view-wrapper {
      border: none;
    }
  }

  .log-preview {
    margin-bottom: 0;
    max-height: 260px;
    word-break: break-word;
    overflow: scroll;
    color: $navy;
    border: 1px solid $color-border;
    background: transparent;
  }
}
