.ai-chat-modal {
  .ant-modal-header {
    padding: 9px 20px;
  }

  .ant-modal-close-x {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .ant-modal-body {
    background-color: $color-modal-bg;
  }

  .ai-chat-sidebar {
    background-color: $color-table-head-bg;
  }

  .ant-menu {
    background-color: transparent;
  }

  .ant-menu-sub.ant-menu-inline {
    background-color: transparent;
  }

  .ant-menu-submenu {
    background-color: $white;
    margin-bottom: 10px;
    border-radius: 8px;
  }

  .ant-menu-submenu-title {
    padding-left: 1rem !important;
    border-bottom: 1px solid $color-default-06;
  }

  .ant-menu-inline,
  .ant-menu-vertical,
  .ant-menu-vertical-left {
    border-right: none;
  }

  .ant-menu-title-content {
    color: $darkblue;
  }

  .ant-menu-sub {
    .ant-menu-title-content {
      display: flex;
      align-items: center;

      &:before {
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $darkblue;
        margin-right: 5px;
      }
    }
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: $color-default-06;
    color: $blue !important;
    opacity: 1;
    font-weight: 500;

    &:after {
      border-right: none;
      border-bottom: 2px solid $blue;
      left: 0;
      top: auto;
    }
  }

  .ant-menu-item:hover {
    background-color: $color-default-06;
  }

  .ant-menu-vertical .ant-menu-item,
  .ant-menu-vertical-left .ant-menu-item,
  .ant-menu-vertical-right .ant-menu-item,
  .ant-menu-inline .ant-menu-item,
  .ant-menu-vertical .ant-menu-submenu-title,
  .ant-menu-vertical-left .ant-menu-submenu-title,
  .ant-menu-vertical-right .ant-menu-submenu-title,
  .ant-menu-inline .ant-menu-submenu-title {
    margin-top: 0;
  }

  .ant-menu-vertical .ant-menu-item:not(:last-child),
  .ant-menu-vertical-left .ant-menu-item:not(:last-child),
  .ant-menu-vertical-right .ant-menu-item:not(:last-child),
  .ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 0;
  }

  .ant-menu-vertical .ant-menu-item,
  .ant-menu-vertical-left .ant-menu-item,
  .ant-menu-vertical-right .ant-menu-item,
  .ant-menu-inline .ant-menu-item,
  .ant-menu-vertical .ant-menu-submenu-title,
  .ant-menu-vertical-left .ant-menu-submenu-title,
  .ant-menu-vertical-right .ant-menu-submenu-title,
  .ant-menu-inline .ant-menu-submenu-title {
    margin-bottom: 0;
  }

  .ant-tabs-nav {
    margin: 0 0 10px 18px;
  }

  .ant-tabs-tab {
    padding: 8px 5px;
  }

  .ant-tabs-content {
    height: 100%;
  }

  .ant-table-thead > tr > th {
    background-color: $white;
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    padding: 4px 16px;
  }

  .ant-table-tbody > tr.ant-table-row-selected > td {
    background-color: $white;
  }

  .markdown-editor.markdown-border-none .markdown-editor-content .rc-md-editor {
    border: none;
  }

  .ant-divider-horizontal {
    margin: 8px 0;
  }
}

.no-border-right-menu {
  .ant-menu-inline,
  .ant-menu-vertical,
  .ant-menu-vertical-left {
    border-right: none;
  }

  .ant-popover-inner-content {
    padding: 5px 0;
    width: 120px;
  }

  .ant-menu-vertical > .ant-menu-item,
  .ant-menu-vertical-left > .ant-menu-item,
  .ant-menu-vertical-right > .ant-menu-item,
  .ant-menu-inline > .ant-menu-item,
  .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    height: 34px;
    line-height: 34px;
  }
}
