.issue-comment-arrow {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 10px;
    top: 10px;
    left: -12px;
    border: 6px solid transparent;
    border-right-color: $color-default-06;
  }
}

.issue-md-arrow {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 10px;
    height: 10px;
    width: 10px;
    left: -5px;
    z-index: 2;
    transform: rotate(45deg);
    background-color: #fbfbfb;
    border-bottom: 1px solid rgba(48, 38, 71, 0.04);
    border-left: 1px solid rgba(48, 38, 71, 0.04);
  }
}
