.issue-activity-item {
  &:before {
    content: '';
    position: relative;
    top: 7px;
    width: 9px;
    height: 9px;
    margin-right: 4px;
    background-color: $color-default-2;
    border-radius: 100%;
  }
  &:after {
    content: '';
    position: absolute;
    top: 20px;
    left: 4px;
    width: 1px;
    height: 100%;
    background-color: $color-default-1;
  }
  &:last-child:after {
    content: unset;
  }

  .issue-activity-content {
    img {
      max-height: 200px;
    }
    .fixed img {
      max-height: unset;
    }
  }

  .issue-comment-content {
    position: relative;
    background-color: $color-default-04;
    border: 1px solid $color-default-04;
    &::before {
      content: '';
      position: absolute;
      top: 10px;
      height: 10px;
      width: 10px;
      left: -6px;
      transform: rotate(45deg);
      background-color: rgb(243, 242, 244);
      border-bottom: 1px solid $color-default-04;
      border-left: 1px solid $color-default-04;
    }
  }
}
