.issue-comment-content {
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 8px;
    border: 4px solid transparent;
  }
  &.other-comment {
    background-color: $color-default-04;
    &::before {
      left: -8px;
      border-right-color: $color-default-04;
    }
  }
  &.my-comment {
    background-color: rgba($color-blue-600, 0.1);
    &::after {
      right: -8px;
      border-left-color: rgba($color-blue-600, 0.1);
    }
  }
}

.issue-activity-item {
  &:before {
    content: '';
    position: relative;
    top: 8px;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    background-color: $color-default-3;
    border-radius: 100%;
  }
  &:after {
    content: '';
    position: absolute;
    top: 20px;
    left: 3px;
    width: 1px;
    height: 100%;
    background-color: $color-default-1;
  }
  &:last-child:after {
    content: unset;
  }
}
