.issue-drawer-modal {
  .ant-modal {
    padding-bottom: 0;
  }
  .ant-modal-body {
    padding: 0;
    height: calc(100vh - 80px);
    overflow: hidden;
  }

  .ant-affix {
    left: calc((100% - 80px) * 0.88 + 56px);
    width: 100px !important;
    .ant-anchor-ink:before {
      width: 1px;
    }
    .ant-anchor-link {
      padding-left: 8px;
    }
    .ant-anchor-ink-ball {
      border-color: $color-blue-600;
    }
    .ant-anchor-link-title-active {
      color: $color-blue-600;
    }
    .ant-anchor {
      font-size: 12px;
    }
  }
}

.task-drawer {
  .ant-drawer-header {
    padding: 0;
  }

  .ant-drawer-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    background-color: $color-default-02;
  }

  .ant-spin-nested-loading {
    height: 100%;
  }

  .ant-spin-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.task-drawer-header {
  z-index: 1;
  padding: 10px 24px;
  color: $color-text;
  line-height: 28px;
  border-bottom: 1px solid $color-default-08;

  .task-drawer-op {
    margin-left: 20px;

    i {
      margin-left: 12px;
      font-size: 14px;
      vertical-align: middle;
      cursor: pointer;
    }

    .followed {
      color: $color-info;
    }

    .notFollowed {
      color: $color-dark-4;
    }

    .attention-dropdown-btn {
      padding: 2px 6px;
      color: $color-dark-4;
      border-radius: 2px;
      cursor: pointer;

      &.ant-dropdown-open {
        background-color: $platinum;

        i {
          color: #000;
        }
      }

      i {
        font-size: 18px;
        vertical-align: middle;
      }
    }
  }
}

.attention-dropdown {
  .add-follower-btn {
    float: right;
  }

  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    padding: 0;

    & > div {
      padding: 5px 12px;
    }

    .issue-member-select {
      padding: 0;

      .results {
        padding: 0;
        border: none;

        &:hover {
          border: none;
          box-shadow: none;
        }

        & > span {
          padding: 5px 12px;
        }
      }
    }
  }

  .followers-num {
    padding-bottom: 4px;
    font-size: 12px;
    color: $color-dark-4;
  }

  .followers {
    max-height: 175;
    overflow-y: auto;

    & > div {
      padding: 6px 0;
    }
  }

  .member-select-btn {
    padding: 5px 12px;
    width: 130px;
  }
}

.issue-member-select-dropdown {
  width: 220px;

  .ant-dropdown-menu,
  .load-more-selector-container {
    width: 100% !important;
  }

  .ant-checkbox-inner {
    display: inline-block;
  }
}

.task-drawer-footer {
  background: $white;
}
