.erda-pagination {
  padding: 12px 0.5rem;
  line-height: 24px;
  color: $color-table-color;

  .pagination-center,
  .pagination-pre,
  .pagination-next {
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
  }

  .pagination-pre,
  .pagination-next {
    width: 32px;
  }

  .bg-hover:not(.disabled) {
    &:hover {
      color: $black;
    }
  }

  .disabled {
    color: $lightgray;

    &:hover {
      cursor: not-allowed;
    }
  }

  .erda-pagination-jump {
    width: 170px;
  }

  &.theme-dark {
    .bg-hover:not(.disabled) {
      &:hover {
        color: $white;
      }
    }
  }
}

.pagination-jump {
  .ant-popover-content {
    position: relative;
    top: 10px;
  }

  .ant-popover-arrow {
    display: none;
  }
}
