.dice-cp-title {
  .subtitle {
    margin-left: 12px;
    color: $color-text-desc;
    font-size: 16px;
  }

  .pre-image {
    margin: 12px;
  }

  .normal {
    width: 50px;
    height: 50px;
  }

  .small {
    width: 20px;
    height: 20px;
  }

  .large {
    width: 100px;
    height: 100px;
  } 

  .circle {
    border-radius: 50%;
  }
}
