.erda-gantt-bar-wrapper {
  cursor: pointer;
  outline: none;
}

.erda-gantt-bar-handle-box {
  .erda-gantt-bar-handle {
    visibility: hidden;
    height: 100%;
    display: inline-flex;
    align-items: center;
  }

  .left-handle {
    cursor: w-resize;
  }
  .right-handle {
    cursor: e-resize;
  }

  &:hover {
    .erda-gantt-bar-handle {
      visibility: visible;
    }
  }
}
