.erda-gantt-bar-wrapper {
  cursor: pointer;
  outline: none;
  &:hover {
    .erda-gantt-bar-handle {
      visibility: visible;
      opacity: 1;
    }
  }
}

.erda-gantt-bar-icon-wrapper {
  &.right {
    text-align: right;
  }

  &:hover {
    .erda-gantt-bar-handle-icon {
      visibility: visible;
    }
  }
}
.erda-gantt-bar-handle-icon {
  visibility: hidden;
}

.erda-gantt-bar-handle {
  fill: transparent;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
}

.erda-gantt-bar-background {
  user-select: none;
  stroke-width: 0;
}
