.erda-gantt-bar-wrapper {
  cursor: pointer;
  outline: none;
}

.erda-gantt-bar-handle-box {
  .erda-gantt-bar-handle {
    visibility: hidden;
  }

  &:hover {
    .erda-gantt-bar-handle {
      visibility: visible;
    }
  }
}
