.project-deploy-add-release {
  height: 70vh;
  .load-more-selector {
    .results {
      padding: 0;
      border: 1px solid transparent;

      &:hover {
        box-shadow: unset;
      }

      .values,
      .value-item {
        width: 100%;
      }
    }
  }
}

.project-add-release-app {
  .load-more-dropdown-menu.ant-dropdown-menu {
    background-color: #59516c;
  }
}
