.project-deploy-add-release {
  height: 70vh;
  .load-more-selector {
    .results {
      padding: 0;
      border: 0;
      min-height: 30px;
      > div {
        line-height: 30px !important;
        height: 30px !important;
      }

      &:hover {
        box-shadow: unset;
      }

      .values,
      .value-item {
        width: 100%;
      }
    }
  }
}
