.erda-gantt-table {
  display: table;
  border-bottom: $color-border 1px solid;
  border-top: $color-border 1px solid;
  border-left: $color-border 1px solid;
}

.erda-gantt-table-header {
  display: table-row;
  list-style: none;
}

.erda-gantt-table-header-separator {
  border-right: 1px solid $color-border;
  opacity: 1;
  margin-left: -2px;
}

.erda-gantt-table-header-item {
  display: table-cell;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}
