// TODO: remove this, use list style instead
.prj-app-list {
  .contractive-filter-bar {
    background-color: $color-table-head-bg;
    & + div {
      margin-top: 0 !important;
    }
  }
  .erda-base-list .erda-base-list-item {
    margin: 0 16px;
  }
  .erda-pagination {
    background-color: $color-table-head-bg;
  }
}
