.new-form-modal {
  font-family: 'PingFangSC-Medium';

  // reset browser autofill style
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: $white;
    -webkit-box-shadow: 0 0 0px 1000px rgb(71, 64, 90) inset;
  }

  .ant-modal-content {
    .ant-modal-header,
    .ant-modal-body,
    .ant-modal-footer {
      background: rgba(48, 38, 71, 0.96);
    }

    .ant-modal-title {
      color: $white;
    }

    .ant-form-item-label label {
      color: $color-white-6;
    }

    .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
      background: rgba($white, 0.08);
    }

    .ant-modal-close-x {
      font-size: 20px;
      font-weight: bold;
      color: $color-white-6;
    }
    // TODO: input 选择一个背景色变白

    .ant-input {
      border: 0;
      color: rgba($white, 0.6);
      background: rgba($white, 0.08);

      &:hover,
      &:focus {
        border: 1px solid $color-purple-highlight;
      }

      &::placeholder {
        color: rgba($white, 0.3);
      }
    }
  }
}
