.cp-cards {
  &.row {
    .cp-card-item {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &.col {
    .cp-card-item {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.cp-card-item {
  border: 1px solid $color-border;
  &:hover {
    box-shadow: 0 2px 8px 0 rgba($color-default, 0.16);
  }

  &.dragging {
    background: repeating-linear-gradient(
      45deg,
      $color-dark-06,
      $color-dark-06 2px,
      $color-white-8 0,
      $color-white-8 8px
    );
    cursor: move;

    .info-card-content {
      background: transparent;
      opacity: 0;
    }
  }

  .info-card-head {
    align-items: flex-start;
  }

  .head-icon {
    width: 28px;
    height: 28px;
  }

  .op-icon {
    margin-right: 0;
    margin-left: 4px;
    padding: 1px 2px;
    background-color: $color-light-bg;
    border-radius: $radius;
    opacity: 0;
  }

  &:hover {
    .op-icon {
      opacity: 1;

      &.hide-icon {
        opacity: 0;
      }
    }
  }
}
