.chart-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 334px;
  margin-bottom: 20px;
  padding: 18px;
  background-color: $white;
  border-radius: $radius;
  @extend %shallow-shadow;
  //overflow: hidden;
  .chart-title {
    margin-bottom: 10px;
    color: $color-text;
    font-size: 14px;
  }

  .empty-holder {
    position: initial;
    flex: 1;
  }
}

// 覆盖默认图表库样式
.bi-board {
  background-color: $white;
  @extend %shallow-shadow;

  .bi-view-wrapper {
    padding: 0 8px;
    border: none;
  }

  .bi-view-title {
    font-weight: 500;
  }
}
