.cluster-state-wrapper {
  position: relative;
  min-height: 180px;
  padding: $p16;
  background: $white;
  border-radius: $p4;

  .cluster-state-content {
    display: flex;

    .cluster-state-item {
      display: flex;
      flex: 0 0 40%;
  
      .cluster-state-item-name {
        width: 200px;
      }

      .cluster-state-item-detail {
        width: 120px;
      }
    }
  }
}

.health {
  color: $color-success;
}

.risk {
  color: $yellow;
}

.part-fault {
  color: $orange;
}

.serious-fault {
  color: $color-danger;
}
