.log-tag-selector {
  min-width: 150px;
  min-height: 32px;
  max-height: 60px;
  overflow: auto;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $radius;
  cursor: text;

  &.small {
    min-height: 28px;

    .display-input {
      height: 28px;
    }

    .tag-value-wrap .value-list .value-item .value-tag {
      margin-top: 3px;
    }
  }

  &:hover,
  &.focus {
    border: 1px solid $primary;
    outline: 0;
    box-shadow: 0 0 0 2px rgba($primary, .2);
  }

  .tag-render {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;

    .tag-add {
      margin-right: 0;
      cursor: pointer;
    }
  }

  .tag-value-wrap {
    position: relative;
    flex: 1;
    width: 0;
    overflow: auto;

    .input-mirror {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
      overflow: hidden;
      white-space: pre;
      opacity: 0;
      pointer-events: none;
    }

    .placeholder {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      height: 100%;
      color: $color-dark-3;
    }

    .value-list {
      .value-item {
        position: relative;
        float: left;

        .value-tag {
          margin-top: 5px;
        }

        .display-input {
          padding: 0;
          background: 0 0;
          border: 0;
          outline: 0;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}

.tag-selector-dropdown {
  .tag-dropdown-menu {
    padding: 0;
    background-color: unset;
    box-shadow: unset;

    .ant-dropdown-menu-item {
      padding: 0;
      cursor: unset;

      &:hover {
        background-color: unset !important;
      }
    }
  }
}

.log-tag-menu-selector {
  .log-tag-menus {
    display: flex;
  }

  .menu-box {
    min-width: 110px;
    max-width: 200px;
    height: 200px;
    overflow: auto;
    background-color: $white;
    border-right: 1px solid $border-color;
    @extend %shallow-shadow;

    .menu-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &.is-active {
        .menu-name,
        .arrow {
          color: $primary;
          background-color: $color-active-bg;
        }
      }

      .menu-name {
        flex: 1;
        padding: 8px 4px 8px 8px;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          color: $primary;
          background-color: $color-active-bg;
        }
      }

      .arrow {
        margin-right: 0;
        padding: 11px 8px 11px 4px;

        &:hover {
          color: $primary;
          background-color: $color-active-bg;
        }
      }
    }

    .empty-holder {
      width: 100px;
      height: 100px;
    }

    .load-more {
      padding: 8px;

      &:hover {
        color: $primary;
      }
    }
  }

  .menu-button {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0;
  }
}
