.node-click-confirm {
  .ant-confirm-body {
    .ant-confirm-title {
      line-height: 18px;
    }
  }
}

.pipeline-execute {
  .build-detail-err-msg {
    padding: 12px;
    background-color: $color-warning-bg;
    border: 1px solid rgba($color-warning, 0.3);
    border-radius: $radius;

    pre {
      margin: 0;
      font-family: inherit;
    }

    .build-err-header {
      display: inline-flex;
      align-items: center;
    }

    .build-err-icon {
      margin-right: 6px;
      color: $color-warning;
      font-weight: bold;
    }

    .build-err-stack {
      margin-top: 8px;
      padding-left: 16px;
    }
  }

  .yml-svg-container-box {
    border: 0 !important;
  }
}
