div.project-release-select.ant-select {
  .ant-select-selector {
    background-color: $color-default-06;
    border: none;
  }
}

.pipeline-form-add-tree {
  .ant-tree .ant-tree-title {
    width: 100%;
  }

  .ant-form-item {
    margin-bottom: 0;
  }
}

.pipeline-add-popover {
  .ant-popover-arrow {
    display: none;
  }
}
