.main-info-parent {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 97px;
  margin-bottom: 24px;

  .main-info {
    display: flex;
    flex-direction: column;
    height: 75px;
    margin-top: 7px;
    padding-top: 15px;
    overflow: hidden;
    background: $white;
    border-bottom: 1px solid theme('colors[border]');
    transition: height 0.2s;

    .trigger-btn {
      position: absolute;
      bottom: 4px;
      left: calc(50% - 15px);
      width: 36px;
      height: 20px;
      text-align: center;
      background: $white;
      border: 1px solid theme('colors[border]');
      border-top: none;
      border-radius: $radius;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      transform: translateX(-50%);
      cursor: pointer;
      transition: bottom 0.2s;
      @extend %shallow-shadow;
    }

    &-full {
      width: calc(100% + 16px);
      height: 300px;
      margin-right: -$p16;
      margin-left: -$p8;
      padding-top: 14px;
      padding-right: 8px;
      padding-left: 7px;
      border: 1px solid theme('colors[border]');
      border-radius: $radius;
      @extend %shallow-shadow;

      .trigger-btn {
        bottom: -222px;
      }
    }

    .hover-py {
      color: theme('colors[primary]');
    }

    .info-label {
      height: 22px;
      margin-top: 4px;
      color: theme('colors[text-desc]');
      line-height: 22px;
    }
  }
}
