.dice-cp {
  &.file-tree {
    overflow: auto;

    .tree-node-action {
      position: absolute;
      right: 5px;
      top: calc(50% - 8px);
      display: none;
    }

    .ant-tree-treenode:hover .tree-node-action {
      display: inline-block;
    }

    .ant-tree-treenode:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 40px;
      transition: all 0.3s;
    }

    .ant-tree-treenode-selected:before,
    .ant-tree-treenode:hover:before {
      background: #f6f5f9;
    }

    .ant-tree .ant-tree-treenode {
      padding: 0;

      .ant-tree-node-content-wrapper,
      .ant-tree-switcher,
      .ant-tree-iconEle {
        height: 40px;
        line-height: 40px;
      }
    }

    .ant-tree-node-content-wrapper.ant-tree-node-selected,
    .ant-tree-node-content-wrapper:hover {
      background-color: transparent;
    }
  }
}

.action-btn {
  padding: 5px 12px;
  border-radius: 3px;

  &:hover,
  &:focus {
    cursor: pointer;
    color: #6a549e;
    background-color: #f6f5f9;
  }
}
