.erda-header {
  padding-top: 11px;
  padding-bottom: 0;

  .erda-header-title-con {
    .erda-header-title {
      font-size: 20px;
    }
  }

  .erda-header-content {
    margin: 0;

    .tab-item-wraps {
      .active {
        background: transparent;
      }
    }

    .tab-menu .tab-menu-item {
      height: 32px;
      line-height: 32px;
    }
  }

  .ant-breadcrumb {
    .breadcrumb-name {
      cursor: pointer;

      &:hover {
        color: $primary;
      }
    }
  }
}
