.erda-header {
  padding: 0 16px 0 16px;
  background-color: $white;

  &-breadcrumb {
    padding: 6px 0;
  }

  &-top {
    height: 34px;
    display: flex;
    align-items: center;
    max-width: calc(100% - 130px);
    min-width: 200px;

    .erda-header-title-con {
      font-family: PingFangSC-Medium;
      padding-right: 16px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .erda-header-title {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 20px;
        color: rgba(9, 24, 33, 0.84);
      }
    }
  }

  .tab-split-line-before {
    &::before {
      position: relative;
      content: '';
      display: inline-block;
      width: 15px;
      height: 12px;
      border-left: 1px solid rgba($color-default, 0.16);
      top: -1px;
    }
  }

  .erda-header-top {
    .tab-menu-item {
      height: 32px;
      line-height: 32px;
      margin-right: 24px;
      &.tab-split-line-before {
        &::before {
          top: 1px;
        }
      }
    }
  }

  .ant-breadcrumb {
    .breadcrumb-name {
      color: $color-dark-6;
      cursor: pointer;

      &:hover {
        color: $primary;
      }
    }
  }
}
