.erda-header {
  margin-bottom: 16px;
  height: 32px;
  min-height: 32px;
  line-height: 32px;
  display: flex;
  align-items: center;

  .erda-header-title-con {
    font-family: PingFangSC-Medium;
    padding-right: 16px;
    overflow: hidden;

    .erda-header-title {
      font-size: 20px;
    }
  }

  .tab-menu {
    &.tab-split-line-before {
      margin-left: 16px;
      &::before {
        left: -16px;
      }
    }
    .tab-menu-item {
      height: 30px;
      line-height: 30px;
      margin-right: 24px;
    }
  }

  .tab-split-line-before {
    &.tab-menu-item {
      margin-left: 16px;
    }
    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      width: 1px;
      height: 12px;
      background-color: rgba($color-default, 0.16);
      top: 10px;
      left: -17px;
    }
  }
}
