.sider-switch-list {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  background-color: $white;
  border-radius: $radius;
  @extend %select-shadow;

  .input-wrap {
    margin-bottom: 2px;
    padding: 8px 6px;
  }

  ul {
    flex: 1;
    margin-bottom: 0;
    overflow: auto;
  }

  li {
    padding: 0 12px;
    line-height: 32px;
    cursor: pointer;

    &.active,
    &:hover {
      color: $color-primary;
    }
  }
}

.sider-switch-overlay {
  &::before {
    content: none;
  }
}

.side-nav-menu {
  transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  scrollbar-width: 0;
  .menu-container {
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      display: none;
    }
    &::-webkit-scrollbar-track-piece {
      display: none;
    }
    &:hover {
      &::-webkit-scrollbar {
        display: block;
      }
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      opacity: 0.6;
      background: $color-dark-4;
    }

    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background: transparent;
    }
  }

  .ant-menu {
    background-color: $white;
    .ant-menu-item-selected {
      background-color: $color-tree-bg-active;
    }
    .ant-menu-item {
      .ant-menu-item-icon {
        margin: 0;
      }
      &:hover {
        background-color: $color-click-bg;
      }
    }
    a:focus {
      text-decoration: none;
    }
  }
}
