.sider-switch-list {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  background-color: $white;
  border-radius: $radius;
  @extend %select-shadow;

  .input-wrap {
    margin-bottom: 2px;
    padding: 8px 6px;
  }

  ul {
    flex: 1;
    margin-bottom: 0;
    overflow: auto;
  }

  li {
    padding: 0 12px;
    line-height: 32px;
    cursor: pointer;

    &.active,
    &:hover {
      color: $color-primary;
    }
  }
}

.sider-switch-overlay {
  &::before {
    content: none;
  }
}
