.sidebar-info-block {
  height: 66px;
  background: $color-default-06;

  img {
    width: 36px;
    height: 36px;
    min-height: 36px;
    border-radius: 100%;
  }

  .big-icon {
    width: 36px;
    height: 36px;
    border-radius: 0;
  }

  svg:not(.i-icon svg, .erda-icon svg) {
    width: 36px;
    height: 36px;
  }

  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 12px;
    overflow: hidden;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;

    &.nowrap {
      display: block;
      text-align: center;
    }

    .caret {
      padding: 2px 0 0 4px;
      color: inherit;
    }

    > span {
      display: inline-block;
    }
  }
}
