.test-case-page {
  display: flex;
  padding-top: 12px;
}

.filter-group-drawer {
  .member-selector {
    background: $white;

    .results {
      border-color: theme('colors[border]');
      &:hover {
        border-color: theme('colors[primary]');
        box-shadow: none;
      }
    }
  }
}
