.project-pipeline {
  box-shadow: 0 1px 4px 0 rgba($color-default, 0.16);

  .application-item {
    height: 40px;

    &.active {
      position: relative;
      background: $white;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 3px;
        background-color: $color-purple-highlight;
      }
    }
  }

  .app-list {
    border-right: 1px solid $color-default-1;

    @media screen and (max-width: 1440px) {
      width: 240px;
    }
    @media screen and (min-width: 1441px) and (max-width: 2560px) {
      width: 360px;
    }
    @media screen and (min-width: 2561px) {
      width: 480px;
    }
  }
}
