.notify-group-manage {
  position: relative;

  .notify-group-action {
    position: absolute;
    top: -52px;
    right: 12px;
  }

  .notify-group-item {
    display: flex;

    .item-left {
      flex: 1;

      .group-info {
        justify-content: start;
      }

      .group-address {
        word-wrap: break-word;
        word-break: break-all;
      }
    }

    .item-right {
      width: 250px;
    }
  }

  td.notify-info {
    .notify-box {
      > span {
        width: 100%;
      }

      span.color-text-sub {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
