.cp-chart {
  background-color: $white;
  border-radius: $radius;
  padding: 8px;
  @extend %shallow-shadow;
  .cp-chart-container {
    position: relative;
    flex-direction: column;
    min-height: 240px;
    height: 100%;
  }

  .chart-dom {
    height: 100%;
    min-height: 240px;
  }
}
