.dice-cp-text-group {
  .large {
    margin-bottom: 32px;
  }

  .normal {
    margin-bottom: 16px;
  }

  .small {
    margin-bottom: 8px;
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }
}
