.head-app-selector {
  padding: 0 12px;

  .load-more-selector {
    .results {
      padding: 0;
      border: 1px solid transparent;

      &:hover {
        box-shadow: unset;
      }

      .values {
        width: 100%;
      }

      .value-item {
        max-width: 100%;
      }
    }
  }

  .head-app-name {
    display: flex;
    width: 100%;
  }
}
