.app-list-section {
  .search-input {
    width: 268px;
    margin-bottom: 16px;
  }

  .item-left {
    display: flex;
    width: 100%;
  }

  .item-container {
    width: 100%;
    cursor: pointer;

    &:hover {
      .to-top {
        visibility: visible;
      }
    }
  }

  .item-img {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    line-height: 64px;
    text-align: center;
    vertical-align: middle;

    img {
      width: 100%;
      max-height: 90px;
    }

    svg {
      width: 46px;
      height: 46px;
      margin-top: 6px;
    }
  }

  .item-content {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .to-top {
    position: absolute;
    top: 0;
    right: $p16;

    visibility: hidden;

    :hover {
      color: $color-primary;
    }
  }

  .item-name {
    align-items: center;
    height: 28px;
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 28px;
  }

  .item-desc {
    height: 22px;
    margin-bottom: 15px;
    color: $color-text-sub;
    line-height: 22px;
  }

  .item-footer {
    display: flex;
    color: $color-text-desc;

    i {
      width: 22px;
      height: 22px;
      color: $color-text-icon;
      line-height: 22px;
    }

    > span {
      display: inline-flex;
      align-items: center;
      height: 22px;
      line-height: 22px;

      &:nth-last-child(n + 2) {
        margin-right: 24px;
      }
    }

    .p-name {
      min-width: 90px;
      max-width: 120px;
    }

    .b-count {
      min-width: 50px;
    }

    .time {
      min-width: 56px;
    }
  }
}
