.dice-form-nusi-combiner-component {
  .combiner-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    > * {
      margin-right: 8px;
    }
  }

  .combiner-operation {
    color: theme('colors[text-sub]');
    font-size: 20px;
    cursor: pointer;
  }
}
