

$btn-hover-color: #8474e7;

.editable-table {
  .ant-table {
    .row-btn {
      height: 28px;
      margin-left: 10px;
      line-height: 27px;

      &:hover {
        background-color: $btn-hover-color;
      }
    }

    tr {
      line-height: 29px;
    }
  }

  &.show-add-row {
    tbody {
      tr:last-child {
        color: $lightgray;

        .ant-select-selection-selected-value {
          color: $lightgray;
        }

        .ant-input {
          color: $lightgray;
        }
      }
    }
  }
}
