

.img-panel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  padding: 5%;
  background-color: rgba(0, 0, 0, .5);

  .img-wrapper {
    margin: 0 5%;

    img {
      max-width: 100%;
      height: auto;
      max-height: calc(100vh - 100px);
      cursor: zoom-out;
    }
  }

  .btn-prev {
    position: absolute;
    top: 50%;
    left: 1vw;
    cursor: pointer;
  }

  .btn-next {
    position: absolute;
    top: 50%;
    right: 1vw;
    cursor: pointer;
  }

  i {
    color: $white;
    font-size: 55px;
  }
}

.showing {
  @extend .img-panel;
  display: flex;
  justify-content: center;
  align-items: center;
}
