.case-step-list {
  border: 1px solid theme('colors[border]');
  border-radius: $radius;

  .case-step {
    padding: 1px 0;

    &:not(:last-child) {
      border-bottom: 1px solid theme('colors[border]');
    }

    textarea {
      color: theme('colors[text]');
      border: none;
      box-shadow: none;
      resize: none;
    }
  }

  .delete-icon {
    margin: 6px;
    color: theme('colors[text-desc]');
    font-size: 18px;
  }

  .result-detail {
    padding-left: 28px;

    textarea {
      color: theme('colors[text-sub]');
      resize: none;
    }
  }
}
