.erda-gantt-vertical-container {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: $color-dark-02;
}

.erda-gantt-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
  overflow: hidden;
  outline: none;
  position: relative;
}
