.erda-gantt-vertical-container {
  overflow: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.02);
}

.erda-gantt-horizontal-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.erda-gantt-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  position: relative;
}
