.msp-conf-type-select {
  .conf-item {
    width: 220px;
    height: 100px;
    border: 1px solid rgba(7, 10, 26, 0.1);
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      border-color: $primary;

      .name {
        color: $primary;
      }
    }

    &.select-item {
      border-color: $primary;
      background: rgba($primary, 0.06);

      .name {
        color: $primary;
      }
    }
  }
}
