.project-setting-info {
  .desc {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .org-with-logo {
    width: calc(100% - 64px - 16px);
  }
}
