.cp-gantt-task-item {
  &-date {
    visibility: hidden;
  }
  &:hover {
    visibility: visible;
  }

  &-icon {
    transition: all 0.2s;
    transform: rotate(-90deg);
  }

  &-expanded {
    transform: rotate(0);
  }
}
