.head-operation-bar {
  .head-operations {
    iconpark-icon {
      color: theme('colors[default-4]');
      cursor: pointer;
      font-size: 20px;
      padding: 4px;
      margin-left: 12px;
      &:hover {
        background-color: theme('colors[default-08]');
        color: theme('colors[default-8]');
      }
    }
  }
}
