.backlog-issue-item {
  display: flex;
  align-items: center;
  height: 44px;
  padding-left: 11px;
  padding-right: 8px;
  border-bottom: 1px solid $color-border;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  &.draggable {
    cursor: grab;
  }

  .issue-info {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    width: 0;
    overflow: auto;
  }

  .backlog-item-content {
    display: flex;
    flex: 1;
    align-items: center;
    width: 0;
  }

  .backlog-item-info {
    justify-content: flex-end;

    .mw-60 {
      min-width: 60px;
    }

    .w80 {
      width: 80px;
    }
  }

  .op-icon {
    padding: 2px 4px;
    border-radius: $radius;

    i {
      margin-right: 0;
    }

    &:hover {
      background-color: $platinum;
    }
  }
}

.issue-item-member-selector {
  .results {
    padding: 4px 0;
    border: 0;

    &:hover {
      border: 0;
      box-shadow: unset;
    }
    .values,
    .value-item {
      width: 100%;
    }
  }
}
