.log-analytics {
  .bi-board {
    box-shadow: none;
  }

  .ant-tabs-bar {
    margin-bottom: 4px;
  }

  .ant-tabs-nav-wrap .ant-tabs-nav {
    height: 28px;

    .ant-tabs-tab {
      height: 26px;
      line-height: 20px;
    }
  }

  .log-analytic-item {
    margin-bottom: 16px;
    background-color: $white;
    border-bottom: 1px solid $color-border;
    @extend %shallow-shadow;

    .title {
      padding: 12px;
      padding-bottom: 8px;
      border-bottom: 1px solid $color-border;

      > span {
        margin-right: 60px;
      }
    }

    .content {
      padding: 12px;
    }

    .code-block {
      white-space: pre-wrap;
    }
  }
}
