<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Erda</title>
  <meta name="description" content="云上，应用协同开发平台">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  dice  -->
  <link class='icon-style dice-icon' rel="stylesheet" href="//at.alicdn.com/t/font_500774_kzpe8fzg3t.css">
  <style type="text/css">
    @font-face{font-family:"Roboto-Regular";src:url('/static/roboto-regular.ttf') format('opentype')}
    body{margin:0;font-family:"Roboto-Regular";background-color:#f3f2f4;}
    #erda-skeleton{display:flex;align-items:center;justify-content:center;position:fixed;z-index:999;width:100%;height:100%;pointer-events:none}
    .e-loading-wrap{display:flex;align-items:center;justify-content:center;height:500px;width:100%}.e-loading-content{position:relative;width:12px;height:12px;animation:e-loading 2s ease infinite}.e-loading-point{position:absolute;left:0;top:0;display:inline-block;width:12px;height:12px;border-radius:100%;background-color:black}.e-loading-lt{animation:e-loading-lt 2s ease 0s infinite}.e-loading-rt{animation:e-loading-rt 2s ease 0s infinite}.e-loading-lb{animation:e-loading-lb 2s ease 0s infinite}.e-loading-rb{animation:e-loading-rb 2s ease 0s infinite}@keyframes e-loading{0%,30%{transform:rotate(0deg)}70%,100%{transform:rotate(405deg)}}@keyframes e-loading-lt{30%,70%{transform:translate(-16px,-16px)}0%,80%{background-color:#1890ff}}@keyframes e-loading-rt{30%,70%{transform:translate(16px,-16px)}0%,80%{background-color:#d84b65}}@keyframes e-loading-lb{30%,70%{transform:translate(-16px,16px)}0%,80%{background-color:#27c99a}}@keyframes e-loading-rb{30%,70%{transform:translate(16px,16px)}0%,80%{background-color:#f4b518}}
  </style>
  <!-- $ta -->
</head>

<body>
  <div id="erda-content" class="hidden"></div>
  <div id="erda-skeleton">
    <div class="e-loading-content">
      <div class="e-loading-point e-loading-lt"></div>
      <div class="e-loading-point e-loading-rt"></div>
      <div class="e-loading-point e-loading-lb"></div>
      <div class="e-loading-point e-loading-rb"></div>
    </div>
  </div>

  <script id='init-script'>
    fetch('/api/-/users/me').then(userRes => {
      if (userRes.status >= 500) {
        document.querySelector('.main-holder').innerText = "服务暂时不可用";
        return;
      }
      if (userRes.status === 401) {
        fetch('/api/-/openapi/login').then((loginRes) => {
          loginRes.json().then(data => {
            if (data && data.url) {
              window.location.href = data.url;
            }
          });
        });
      } else {
        userRes.json().then(result => {
          const userData = result && result.data || {};
          if (typeof window.userCb === 'function') {
            window.userCb(userData);
          } else {
            window._userData = userData;
          }
        })
      }
    })
  </script>
  <!-- dice -->
  <script src="//at.alicdn.com/t/font_500774_kzpe8fzg3t.js" async></script>
  <!-- dice iconpark -->
  <script src="https://lf1-cdn-tos.bytegoofy.com/obj/iconpark/icons_138_431.05e8bbb55bb5f6a1acc96b1884d66a25.es5.js"></script>
  <!-- $ -->
</body>

</html>
