<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Erda</title>
  <meta name="description" content="云上，应用协同开发平台">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  dice  -->
  <link class='icon-style dice-icon' rel="stylesheet" href="//at.alicdn.com/t/font_500774_kzpe8fzg3t.css">
  <style type="text/css">
    <%=htmlWebpackPlugin.options.css %>
  </style>
  <!-- $ta -->
</head>

<body>
  <div id="erda-content" class="hidden"></div>
  <div id="erda-skeleton">
    <%= htmlWebpackPlugin.options.skeleton.html %>
  </div>

  <script id='init-script'>
    fetch('/api/-/users/me').then(userRes => {
      if (userRes.status >= 500) {
        document.querySelector('.main-holder').innerText = "服务暂时不可用";
        return;
      }
      if(userRes.status === 401){
        fetch('/api/-/openapi/login').then((loginRes) => {
          loginRes.json().then(data => {
            if (data && data.url) {
              window.location.href = data.url;
            }
          });
        });
      }else {
        userRes.json().then(result=>{
          const userData = result && result.data || {};
          if (typeof window.userCb === 'function') {
            window.userCb(userData);
          } else {
            window._userData = userData;
          }
        })
      }
    })
  </script>
  <!-- dice -->
  <script src="//at.alicdn.com/t/font_500774_kzpe8fzg3t.js" async></script>
  <!-- dice iconpark -->
  <script src="https://lf1-cdn-tos.bytegoofy.com/obj/iconpark/icons_138_397.8f6c7fc58562c6902e2b9ba6693b11f5.es5.js"></script>
  <!-- $ -->
</body>

</html>
