<div class="skeleton-nav">
  <div class="sidebar-group">
    <div class="nav-item" style="margin-top: 14px;">
      <i class="iconfont icon-appstore" aria-hidden="true"></i> 
      
    </div>
      <div class="nav-item" style="margin-top: 22px;">
      <img src='/images/Erda.svg' aria-hidden="true" />
      </div>
  </div>
  <div class="sidebar-group" style="margin-bottom: 16px; color: #c3bbd8;">
    <div class="nav-item">
      <i class="iconfont icon-help" aria-hidden="true"></i>
    </div>
    <div class="nav-item">
      <i class="iconfont icon-i18n" aria-hidden="true"></i>
    </div>
    <div class="nav-item">
      <i class="iconfont icon-jigou" aria-hidden="true"></i>
    </div>
    <div class="nav-item" style="margin-bottom: 16px;">
      <i class="iconfont icon-layout-bell" aria-hidden="true"></i>
    </div>
    <div class="nav-item" style="border-radius: 100%; background: #e1ddec;"></div>
  </div>
</div>
<div style="width: 200px;border-right: 1px solid #e6e6e6;">
  <div class="skeleton-sidebar-info">
    <span class="skeleton-logo skeleton-bg"></span>
    <div class="skeleton-line skeleton-bg" style="width: 80px; margin: 0 auto;"></div>
  </div>
  <ul style="padding: 16px;">
    <li class="skeleton-line skeleton-icon-line skeleton-bg"></li>
    <li class="skeleton-line skeleton-icon-line skeleton-bg"></li>
    <li class="skeleton-line skeleton-icon-line skeleton-bg"></li>
  </ul>
</div>
<div class="skeleton-body">
  <div class="skeleton-header">
    <div class="skeleton-line skeleton-bg" style="width: 100px;"></div>
    <div class="skeleton-line skeleton-bg" style="width: 200px;"></div>
  </div>
  <div class="main-holder">
    <div id="enter-loading"></div>
  </div>
</div>
