<div class="skeleton-nav">
  <div class="skeleton-sidebar">
    <div class="blink skeleton-sidebar-item" style="height: 32px; width: 32px;"></div>
    <div class="blink skeleton-sidebar-item"></div>
    <div class="blink skeleton-sidebar-item"></div>
    <div class="blink skeleton-sidebar-item"></div>
    <div class="blink skeleton-sidebar-item"></div>
    <div class="blink skeleton-sidebar-item"></div>
    <div class="blink skeleton-sidebar-item"></div>
  </div>
  <div style="margin-bottom: 10px;">
    <div class="blink skeleton-sidebar-item"></div>
    <div class="blink skeleton-sidebar-item"></div>
    <div class="blink skeleton-sidebar-item"></div>
    <div class="skeleton-sidebar-item blink" style="width: 28px; height: 28px;"></div>
  </div>
</div>
<div style="position: absolute; left: 72px;">
  <div class="skeleton-line blink" style="width: 150px;"></div>
</div>
<div style="width: 184px;">
  <div class="skeleton-sidebar-info">
    <span class="skeleton-logo blink"></span>
    <div class="skeleton-line blink" style="width: 90px; margin: 0 auto;"></div>
  </div>
  <ul style="padding: 0 8px;">
    <li class="skeleton-line skeleton-icon-line blink"></li>
    <li class="skeleton-line skeleton-icon-line blink"></li>
    <li class="skeleton-line skeleton-icon-line blink"></li>
    <li class="skeleton-line skeleton-icon-line blink"></li>
    <li class="skeleton-line skeleton-icon-line blink"></li>
    <li class="skeleton-line skeleton-icon-line blink"></li>
  </ul>
</div>
<div class="skeleton-body">
  <div class="skeleton-line blink" style="
              width: 150px;
              height: 28px;
              position: absolute;
              top: 36px;
              left: 16px;
            "></div>
  <div class="main-holder">
    <div id="enter-loading"></div>
  </div>
</div>
