.head-project-selector {
  .load-more-selector {
    .results {
      padding: 0;
      border: 1px solid transparent;

      &:hover {
        box-shadow: unset;
      }

      .values,
      .value-item {
        width: 100%;
      }
    }
  }

  .head-project-name {
    display: flex;
    width: 100%;

    .icon {
      color: $color-text-icon;
    }

    &:hover {
      .icon {
        color: $color-default;
      }
    }
  }
}
