.runtimes-selector.load-more-selector {
  .results {
    border: 1px solid transparent;

    .icon {
      color: theme('colors[default-3]');
    }

    &:hover {
      box-shadow: unset;

      .icon {
        color: theme('colors[default]');
      }
    }
  }
}
