.gallery-lists {
  position: relative;

  .gallery-service {
    position: relative;
    .info-container {
      position: relative;
      &::after {
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: -16px;
        content: '';
        background-color: theme('colors[border]');
      }
    }
  }
  &::after {
    position: absolute;
    width: 100%;
    height: 2px;
    content: '';
    bottom: 0;
    background-color: $white;
  }
}
