.common-edit-field {
  .ant-input,
  .ant-input-affix-wrapper,
  .ant-picker,
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    &:not(:focus) {
      border-color: transparent;
    }
  }

  .ant-picker {
    &:hover {
      background-color: $color-default-06 !important;
    }
  }

  .ant-select-arrow,
  .anticon-calendar {
    opacity: 0;
  }

  .switch-type-selector {
    .ant-select-selector {
      margin-right: 4px;
      border-color: $color-border;

      &:hover {
        border-color: $color-active;

        .ant-select-arrow {
          color: $color-active;
        }
      }
    }

    .ant-select-arrow {
      opacity: 1;
    }

    .ant-select-selection-item {
      text-overflow: clip;
    }
  }

  .with-error {
    .ant-input,
    .ant-select-selector {
      border-color: $color-danger;
      box-shadow: none;

      &:hover,
      &:focus {
        border-color: $color-danger;
      }
    }
  }

  .ant-input-suffix {
    opacity: 0;
  }

  &:hover {
    .ant-select-arrow,
    .anticon-calendar,
    .ant-input-suffix {
      opacity: 1;
    }
  }
}
