.endpoint-create {
  width: 70%;
  min-width: 900px;
  margin: 24px auto;

  .bind-domain-item {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 4px;

    .ant-form-item-control-wrapper {
      width: 100%;

      .ant-form-item-children {
        display: flex;
      }
    }

    .bind-domain-icons {
      display: flex;
      width: 70px;
      margin-left: 10px;
    }

    .input-with-icon {
      display: flex;
      align-items: center;
      width: 30px;
      font-size: 20px;
    }
  }

  .endpoint-create-body {
    margin: 60px 0;
  }

  .endpoint-create-footer {
    text-align: right;

    button {
      margin-left: 12px;
    }
  }
}
