.condition-nav {
  flex-wrap: wrap;

  .app-services-container {
    display: flex;
    flex: 1;
    white-space: nowrap;
  }

  .address-input {
    width: 200px;
  }

  .api-search-input,
  .api-select {
    flex: 1;
    min-width: 130px;
    max-width: 180px;
  }

  .search-container {
    flex: 1;
    min-width: 1010px;

    .search-fields {
      flex: 1;
      justify-content: flex-start;
    }
  }
}

.domain-addr {
  max-width: 500px;
  word-wrap: break-word;
}

.domain-content {
  color: $color-text-sub;
  font-size: 14px;
}

.domain-title {
  margin: 5px 0;
  font-size: 16px;
}
