.form-hoc {
  .group-head {
    margin-bottom: 12px;
    padding: 12px 0;

    &.bottom-border {
      border-bottom: 1px solid $color-border;
    }

    .group-head-h3 {
      color: rgba(0, 0, 0, .8);
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0;

      &.sub-title {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .head-select-btn {
      width: 125px;
      line-height: 26px;
    }
  }

  .form-hoc-table {
    .ant-form-item-label {
      display: none;
    }
    // .ant-table-placeholder {
    //   display: none;
    // }
  }

  .no-margin {
    margin: 0;
  }

  .form-hoc-fotter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 8px 0;
  }

  .form-item-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

    .form-item-label {
      margin-bottom: 9px;
      color: rgba(0, 0, 0, .4);
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0;
    }

    .form-item-value {
      margin-bottom: 12px;
      color: rgba(0, 0, 0, .8);
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0;

      &.no-margin {
        margin: 0;
      }
    }
  }

  .ant-form-item {
    margin-bottom: 8px;
  }
}
