.release-form {
  .render-form.ant-form-vertical {
    width: 80%;
  }

  .ant-btn {
    background-color: $color-default-06;
    border-color: $color-default-06;
    color: $color-default-8;
  }

  .ant-btn-primary {
    background-color: $color-default;
    color: $white;
  }

  .ant-form-item-control-input-content > input {
    width: 50%;
    background-color: $color-default-04 !important;
    border: none;
  }

  .ant-select {
    width: 50%;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: $color-default-04 !important;
    border: none;
  }

  .ant-tabs {
    display: flex;

    .ant-tabs-content-holder {
      flex: 1;
      overflow: auto;
    }
  }
}
