.erda-list-select {
  width: 50%;

  &-btn {
    background-color: rgba($color-purple-highlight, 0.1);
    color: $color-purple-highlight;
    transition: all 0.5s;

    &.dropdown-open {
      background-color: $color-purple-highlight;
      color: $white;
    }
  }

  .result-list {
    background-color: rgba($color-default, 0.01);
    color: $color-default;

    .desc {
      color: rgba($color-default, 0.6);
    }

    .erda-list-select-selected-item-delete {
      color: $color-default-4;
      visibility: hidden;
    }

    .erda-list-select-selected-item:hover {
      .text-hover {
        color: $color-purple-highlight !important;
      }

      .erda-list-select-selected-item-delete {
        visibility: visible;
      }
    }
  }

  .time-line-collapse {
    .ant-collapse-header {
      padding: 0 !important;
    }

    &-header {
      display: inline-block;
      width: calc(100% - 24px);

      .remove-group {
        visibility: hidden;
      }

      &.active,
      &:hover {
        .group-title {
          font-weight: 500;
        }

        .remove-group {
          visibility: visible;
        }
      }
    }

    .desc {
      color: $color-default-6;
    }
  }

  .project-release-time-line {
    .ant-timeline-item .ant-timeline-item-tail {
      left: 4px;
    }

    .ant-timeline-item-head {
      background: transparent;
    }
  }
}

.no-wrapper-modal {
  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-close {
    color: $color-white-4;

    &:hover {
      color: $color-white-6;
    }
  }
}

.erda-list-select-overlay {
  width: 1120px;
  height: 400px;
  background-color: $color-default;

  .selected-num {
    padding: 1px 6px;
    background-color: rgba($white, 0.08);
    color: $color-white-8;
  }

  .erda-list-select-selected-list {
    height: calc(100% - 100px);
    color: rgba($white, 9);

    .desc {
      color: $color-white-6;
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: $color-default;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: $color-white-1;
    }
  }

  .erda-list-select-selected-item-delete {
    visibility: hidden;
  }

  .erda-list-select-selected-item:hover {
    .text-hover {
      color: $color-purple-highlight !important;
    }

    .erda-list-select-selected-item-delete {
      visibility: visible;
    }
  }

  .erda-list-select-right-content {
    height: calc(100% - 66px);
  }

  .erda-list-select-menus {
    overflow-y: auto;
    flex-shrink: 0;

    &::-webkit-scrollbar {
      width: 10px;
      background-color: $color-default;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: $color-white-1;
    }

    .erda-list-select-menu-item {
      padding: 5px 8px;
      color: rgba($white, 0.9);
      border-radius: 2px;
      cursor: pointer;
    }

    .active {
      background-color: $color-purple-highlight !important;
    }
  }

  .erda-list-select-list {
    height: calc(100% - 40px);

    & > div {
      &::-webkit-scrollbar {
        width: 10px;
        background-color: $color-default;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $color-white-1;
      }
    }
  }

  .erda-pagination {
    color: $color-white-6;

    .bg-hover:hover {
      color: $white;
    }

    .pagination-pre,
    .pagination-next {
      &.disabled {
        color: $color-white-2 !important;
      }
    }
  }

  .ant-btn {
    background-color: $color-white-2 !important;
    border: none;
    color: $white !important;

    &.ant-btn-primary {
      background-color: $color-purple-highlight !important;
      border-color: $color-purple-highlight !important;
    }
  }

  .ant-input-prefix {
    color: $color-white-3;
  }

  input {
    background-color: transparent;
    color: $color-white-6;

    &::-webkit-input-placeholder {
      /* WebKit browsers */
      color: $color-white-3;
    }

    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: $color-white-3;
    }
  }
}
