.topology {
  background: rgba($color-default, 0.96);

  .ant-spin-nested-loading,
  .ant-spin-container {
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .topology-filter {
    .contractive-filter-item {
      background: rgba($white, 0.06) !important;

      > span {
        color: rgba($white, 0.6) !important;
      }

      .hover {
        color: rgba($white, 0.6) !important;
      }

      &:hover {
        .hover {
          color: rgba($white, 0.9) !important;
        }
      }

      .contractive-filter-item-value {
        color: rgba($white, 0.9) !important;
      }
    }

    .time-select {
      .time-range,
      .auto-refresh,
      .manual-refresh {
        background: rgba($white, 0.06) !important;
        color: rgba($white, 0.9) !important;

        .ant-select {
          color: rgba($white, 0.9) !important;

          .ant-select-arrow {
            color: rgba($white, 0.6) !important;
          }

          &:hover {
            .ant-select-arrow {
              color: rgba($white, 0.9) !important;
            }
          }
        }
      }
    }
  }

  .zoom-buttons {
    div {
      background: rgba($white, 0.06);
      box-shadow: 0 4px 8px 0 $color-card-hover-shadow;
      color: rgba($white, 0.6);

      &:hover {
        background: rgba($white, 0.2);
        color: rgba($white, 0.9);
      }
    }
  }

  .topology-overview {
    width: 280px;
    height: 100%;
    border-right: 1px solid rgba($white, 0.1);
    transition: all 0.3s ease-in-out;

    .card-item {
      width: 76px;
      height: 76px;
      background-color: rgba($white, 0.04);
    }

    &.collapse {
      width: 0;

      .content {
        opacity: 0;
      }
    }
  }

  .topology-detail {
    background-color: $color-default;
    width: 325px;
    z-index: 20;
    transition: all 0.3s ease-in-out;

    &.expand {
      right: 0;
    }

    &.collapse {
      right: -325px;
    }

    .content {
      background-color: rgba($white, 0.17);
      .metric-detail {
        > div {
          background: rgba($white, 0.04);
        }
      }
    }
  }
}
