.i18n-wrapper {
  .edit-icon {
    visibility: hidden;
  }
  .i18n-wrapper-hover:hover {
    padding-right: 18px;
    .edit-icon {
      position: absolute;
      visibility: visible;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
