.group-indices-item {
  padding: 12px;
  color: $color-text-desc;
  font-size: 22px;
  text-align: center;
  background: $white;
  border-radius: $radius;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 0 2px -1px rgba(0, 0, 0, .06),
    0 1px 3px 0 rgba(0, 0, 0, .12);

  .num {
    color: $color-text;

    &.error-num {
      color: $color-danger;
    }
  }
}
