.monitor-overview {
  .ant-select {
    width: 100px;
  }

  .little-panel {
    height: 130px;
  }

  .middle-panel {
    height: 280px;
  }

  .service-status {
    .ant-table-body {
      > table {
        border: none;
      }
    }

    .ant-table-tbody > tr > td {
      padding: 20px 10px;
      border-top: none;

      &:last-child {
        text-align: left;
      }
    }

    .ant-table-header {
      > table {
        border: none;
        border-radius: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
    }

    .ant-table-thead {
      > tr > th {
        padding: 0 10px;
        color: $color-primary;
        font-size: 12px;
        line-height: 40px;

        &:last-child {
          text-align: left;
        }
      }
    }
  }

  .main-panel {
    .list-panel {
      border-color: $color-border;
    }

    .monitor-panel-header {
      margin-bottom: 0;
    }

    .pvuv-container .chart-container {
      border-bottom: 0;
    }

    .last-line .chart-container {
      border-bottom: 0;
    }

    > div {
      .chart-container {
        margin-bottom: 0;
        border-right: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        border-radius: 0;
      }

      > div:last-child .chart-container {
        border-right: 0;
      }
    }
  }
}
