.cluster-indices-item {
  padding: $p20;
  color: $color-text-desc;
  font-size: 22px;
  text-align: center;
  background: $white;
  border-radius: $radius;

  @extend %shallow-shadow;

  &:hover {
    @extend %hover-shadow;
  }

  .num {
    color: $color-text;

    &.error-num {
      color: $color-danger;
    }
  }

  i {
    font-size: 32px;
  }
}

.cluster-dashboard-item {
  .dashboard-item-title {
    color: $color-text;
    font-size: 18px;
  }
}
