.erda-text-block-info {
  &.small {
    .main-text {
      color: $color-default;
      font-size: 14px;
      font-weight: bold;
      line-height: 22px;
    }
    .sub-text {
      color: $color-text-sub;
      font-size: 12px;
      line-height: 16px;
    }

    .desc-text {
      color: $color-text-desc;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &.normal {
    .main-text {
      color: $color-text;
      font-size: 20px;
      font-weight: bold;
      line-height: 32px;
    }
    .sub-text {
      color: $color-text-sub;
      font-size: 12px;
      line-height: 16px;
    }

    .desc-text {
      color: $color-text-desc;
      font-size: 12px;
      line-height: 16px;
    }
  }
}
