.erda-text-block-info {
  &.small {
    .main-text {
      color: theme('colors[default]');
      font-size: 14px;
      font-weight: bold;
      line-height: 22px;
    }
    .sub-text {
      color: theme('colors[text-sub]');
      font-size: 12px;
      line-height: 16px;
    }

    .desc-text {
      color: theme('colors[text-desc]');
      font-size: 12px;
      line-height: 16px;
    }
  }

  &.normal {
    .main-text {
      color: theme('colors[text]');
      font-size: 20px;
      font-weight: bold;
      line-height: 32px;
    }
    .sub-text {
      color: theme('colors[text-sub]');
      font-size: 12px;
      line-height: 16px;
    }

    .desc-text {
      color: theme('colors[text-desc]');
      font-size: 12px;
      line-height: 16px;
    }
  }
}
