.header {
  .filter-container {
    margin-right: 40px;
  }

  .search-container {
    flex: 1;
    max-width: 1100px;

    .search-fields {
      flex: 1;
    }
  }

  .monitor-time-selector-inline {
    margin-left: 0;
  }
}
