.purchase-resource {
  .step-wrap {
    width: 50%;
    margin: 20px auto;
    margin-bottom: 40px;
  }

  .op-row {
    margin-top: 20px;
  }

  .confirm-block {
    width: 70%;
    margin: 0 auto;
  }
}
