.application-test {
  .test-item {
    padding: 14px;
    border-bottom: 1px solid theme('colors[border]');
    cursor: pointer;

    &:hover {
      background: $color-hover;
    }
  }

  .item-left {
    .top-row {
      color: theme('colors[text]');
      font-weight: 500;
      font-size: 16px;
    }

    .buttom-row {
      color: theme('colors[text-sub]');
    }
  }

  .item-right {
    .test-status {
      width: 160px;
    }

    .buttom-row {
      text-align: right;

      .test-time,
      .operator {
        color: theme('colors[text-desc]');
      }
    }
  }

  .ant-progress-line {
    color: theme('colors[text-desc]');
    font-size: 12px;
  }

  .ant-progress-status-success .ant-progress-text {
    color: theme('colors[text-desc]');
  }

  .ant-progress-success-bg {
    background: theme('colors[primary]');
  }
}
