.project-status-page {

  .reason-analysis-span {
    color: $color-primary;
  }

  .status-list {
    margin-top: 5px;

    li {
      float: left;
      width: 1px;
      height: 12px;
      margin-right: 1px;

      &.grey {
        background: $platinum;
      }

      &.green {
        background: $green;
      }

      &.red {
        background: $red;
      }
    }
  }
}
