.test-env-list {
  li {
    height: 42px;
    padding: 0 12px;
    border-right: 2px solid transparent;
    cursor: pointer;

    &.active {
      background-color: theme('colors[active-bg]');
      border-right-color: theme('colors[primary]');
    }

    &:hover {
      background-color: theme('colors[active-bg]');
    }
  }
}
