.node-list-container {
  display: flex;
  height: 100%;

  .host-list {
    width: 280px;
    min-height: 100%;

    .host-list-content {
      min-height: 520px;
    }

    .node-item {
      background: $color-bg;
      border-radius: $radius;
      transition: transform 0.2s;

      &:hover {
        color: $color-primary;
        background: $color-active-bg;
      }

      &.active {
        color: $color-primary;
        background: $color-active-bg;
      }
    }
  }

  .host-detail {
    flex: 1;
  }
}
