div.project-release-select.ant-select {
  .ant-select-selector {
    background-color: $color-default-06;
    border: none;
  }
}

.project-pipeline-form {
  .ant-alert-error .ant-alert-message {
    color: $color-error;
  }
}
