.project-homepage-wrapper {
  .ant-card-body {
    padding: 0 !important;
  }
}

.homepage-tooltip {
  .ant-tooltip-content {
    .ant-tooltip-inner {
      background: $color-default !important;
      color: $white !important;
    }
  }
}

.homepage-link-delete-confirm {
  .ant-popover-inner-content {
    width: 200px;
    background: $color-default;
    color: white;

    .ant-popover-message {
      .ant-popover-message-title {
        color: $white !important;
        padding: 0 !important;
      }
    }

    .ant-btn {
      color: $white;
      &:first-child {
        background: $color-white-2;
        border: 0;
      }
      &:last-child {
        background: $color-purple-deep;
      }
    }
  }
}

.project-homepage {
  font-family: 'PingFangSC-Regular';

  .homepage-header {
    height: 120px;
    background: #3fa796;
    position: relative;
    margin-bottom: 56px;

    .project-icon {
      position: absolute;
      width: 76px;
      height: 76px;
      bottom: -38px;
      left: 16px;
      border: 6px white solid;
      box-shadow: 0 2px 7px 0 rgba(48, 38, 71, 0.16);
      border-radius: 2px;
    }

    .project-name {
      position: absolute;
      bottom: -38px;
      left: 108px;
      font-size: 30px;
      color: #302647;
      letter-spacing: 0;
      line-height: 38px;
    }
  }

  .homepage-body {
    .homepage-info {
      width: 280px;

      .info-title {
        font-family: 'PingFangSC-Medium';
        font-size: 14px;
        color: #302647;
        letter-spacing: 0;
        line-height: 22px;
        margin-bottom: 12px;
      }
    }
  }
  .markdown-editor .markdown-editor-content .rc-md-editor .editor-container {
    padding: 0;
  }

  .markdown-editor .markdown-editor-content .rc-md-editor .editor-container .sec-md .input {
    // border: none;
  }

  .rc-md-navigation .button-wrap .active-button:after {
    height: 3px;
    width: 28px;
    background: #a051ff;
    border-radius: 1.5px;
    left: 10px;
  }

  .markdown-editor-content {
    &.show-btn {
      .rc-md-editor {
        background: $color-default-04;
        padding-bottom: 48px;
      }
    }
  }
}
