.project-homepage-wrapper {
  .ant-card-body {
    padding: 0 !important;
  }
}

.project-homepage {
  font-family: PingFangSC-Regular;

  .homepage-header {
    height: 120px;
    background: #3fa796;
    position: relative;
    margin-bottom: 56px;

    .project-icon {
      position: absolute;
      width: 76px;
      height: 76px;
      bottom: -38px;
      left: 16px;
      border: 6px white solid;
      box-shadow: 0 2px 7px 0 rgba(48, 38, 71, 0.16);
      border-radius: 2px;
    }

    .project-name {
      position: absolute;
      bottom: -38px;
      left: 108px;
      font-size: 30px;
      color: #302647;
      letter-spacing: 0;
      line-height: 38px;
    }
  }

  .homepage-body {
    .homepage-info {
      width: 280px;

      .info-title {
        font-size: 14px;
        color: #302647;
        letter-spacing: 0;
        line-height: 22px;
        margin-bottom: 12px;
      }

      .homepage-link-operation {
        right: 0;
        transform: translateX(30px);
        transition: transform 0.5s ease-in-out;
        box-shadow: -3px 0 4px -4px $color-text-sub;

        &:hover {
          display: inline-block;
          transform: translateX(-30px);
        }
      }
    }
  }

  .homepage-link-tooltip {
    .ant-tooltip-content {
      .ant-tooltip-inner {
        background: $color-default !important;
        color: $white !important;
      }
    }
  }

  .markdown-editor .markdown-editor-content .rc-md-editor .editor-container {
    padding: 0;
  }

  .markdown-editor .markdown-editor-content .rc-md-editor .editor-container .sec-md .input {
    border: none;
  }

  .markdown-editor-content {
    &.show-btn {
      .rc-md-editor {
        background: $color-default-04;
        padding-bottom: 48px;
      }
    }
  }
}
