.project-homepage-wrapper {
  .erda-header,
  .main-scroll-tip {
    display: none;
  }
}

.homepage-link-delete-confirm {
  .ant-popover-inner-content {
    width: 200px;
    background: $color-default;
    color: white;

    .ant-popover-message {
      .ant-popover-message-title {
        color: $white !important;
        padding: 0 !important;
      }
    }

    .ant-btn {
      color: $white;
      &:first-child {
        background: $color-white-2;
        border: 0;
      }
      &:last-child {
        background: $color-purple-deep;
      }
    }
  }
}

.project-homepage {
  font-family: 'PingFangSC-Regular';

  .homepage-header {
    height: 120px;
    position: relative;
    margin-bottom: 56px;
    border-radius: 2px 2px 0 0;

    .project-icon {
      position: absolute;
      width: 76px;
      height: 76px;
      bottom: -38px;
      left: 16px;
      border: 6px $white solid;
      box-shadow: 0 2px 7px 0 rgba($color-default, 0.16);
      border-radius: 2px;

      .big-icon {
        border-radius: 2px;
        box-shadow: 0 0 0 4px $white;
      }
    }

    .project-name {
      position: absolute;
      bottom: -38px;
      left: 108px;
      font-size: 30px;
      color: $color-default;
      letter-spacing: 0;
      line-height: 38px;
    }
  }

  .read-only-markdown {
    .markdown-edit-button {
      display: none;
    }

    &:hover {
      .markdown-edit-button {
        display: flex;
        justify-content: center;
        align-items: center;
        right: 380px;
        top: 228px;
        box-shadow: 0 1px 4px 0 rgba(48, 38, 71, 0.16);
        border-radius: 16px;
      }
    }
  }

  .homepage-body {
    .homepage-info {
      width: 280px;

      .info-title {
        font-family: 'PingFangSC-Medium';
        font-size: 14px;
        color: $color-default;
        letter-spacing: 0;
        line-height: 22px;
        margin-bottom: 12px;
      }

      .info-brief {
        line-height: 22px;
      }
    }
  }
  .markdown-editor .markdown-editor-content .rc-md-editor .editor-container {
    padding: 0;
  }

  .rc-md-editor {
    border: 0;
    background: rgba($color-default, 0.04);
  }

  .rc-md-navigation {
    background: transparent;
    border-bottom: rgba($color-default, 0.08);
    box-shadow: 0 2px 1px 0 rgba($color-default, 0.08);
  }

  .markdown-editor .markdown-editor-content .rc-md-editor .editor-container .sec-md .input {
    background: transparent;
    box-shadow: 0 2px 1px 0 rgba($color-default, 0.08);

    &:focus {
      background: $white;
    }
  }
  .section-container:focus {
    box-shadow: unset;
  }

  .rc-md-navigation .button-wrap .active-button:after {
    height: 3px;
    width: 28px;
    background: $color-purple-highlight;
    border-radius: 1.5px;
    left: 10px;
  }

  .markdown-editor-content {
    &.show-btn {
      .rc-md-editor {
        background: $color-default-04;
        padding-bottom: 48px;
      }
    }
  }
}
