.personal-workbench-page {
  > div {
    &.left {
      width: 0;
      overflow: auto;
    }
  }

  .personal-workbench-cards {
    .cp-cards {
      background-image: linear-gradient(to right, $white, $white), linear-gradient(to right, $white, $white),
        linear-gradient(to right, rgba($color-default, 0.1), rgba($white, 0)),
        linear-gradient(to left, rgba($color-default, 0.1), rgba($white, 0));
      background-position: left center, right center, left center, right center;
      background-repeat: no-repeat;
      background-color: $white;
      background-size: 20px 100%, 20px 100%, 10px 88%, 10px 88%;
      background-attachment: local, local, scroll, scroll;
    }
  }

  .pagination-wrap {
    background-color: $white !important;
  }
}
