.comments-container {
  .selector-item {
    width: 200px;
    margin-right: 10px;
  }

  .detail-title {
    color: $color-dark-8;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
  }

  .detail-property,
  .detail-value {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
  }

  .detail-property {
    color: $color-dark-4;
  }

  .detail-value {
    color: $color-dark-6;
  }

  .comment-box {
    margin-bottom: 0;

    &:not(:last-child) {
      &:after {
        display: none;
      }
    }
  }

  .comments-association-box {
    position: relative;
    margin-bottom: 16px;
    padding: 12px;
    font-weight: 500;
    border: 1px solid $color-border;
    border-radius: $radius;
  }
}
