name: codecov

# Controls when the action will run.
on:
  push:
    branches: [ develop ]
    paths:
      - shell/app/common/**
  pull_request:
    branches: [ develop ]
    paths:
      - shell/app/common/**

  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  run-test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Install dependence for core
        working-directory: './core'
        run: |
          npm install

      - name: Run Tests
        working-directory: './shell'
        run: |
          npm install
          npm run test:coverage
          npm run copy:coverage

      - name: Codecov
        run: curl -s https://codecov.io/bash | bash